[run]
omit =
    an_website/__main__.py
    an_website/backdoor/client.py

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if __name__ == "__main__":
    if sys\.flags\.dev_mode
    if not self\.settings\.get\("TESTING"\)
ignore_errors = true

[html]
directory = coverage_html_report
