# .coveragerc to control coverage.py
[run]
omit =
    # trivial
    an_website/__main__.py
    # not part of backend
    an_website/backdoor/backdoor_client.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    pass

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    if sys.flags.dev_mode
    if not self.settings.get\("TESTING"\)

ignore_errors = True

[html]
directory = coverage_html_report
