[run]
relative_files = true
source = an_website
omit =
    an_website/__main__.py
    an_website/backdoor_client.py

[report]
exclude_lines =
    pragma: no cover
    ^\s*pass\s*(#.*)?$
    raise AssertionError
    raise NotImplementedError
    if __name__ == "__main__":
    if sys\.flags\.dev_mode
    if not self\.settings\.get\("TESTING"\)
ignore_errors = true
precision = 3
sort = -miss
