[flake8]
extend-exclude = build,node_modules,venv
max-line-length = 80
max-complexity = 15
ignore = E203,E501,W503
select = B,B9,C,D,E,F,N8,RST,SCR,SIM,W,INP
require-plugins =
    flake8-bugbear
    flake8-comprehensions
    flake8-docstrings
    flake8-no-pep420
    flake8-rst-docstrings
    flake8-scream
    flake8-simplify
    pep8-naming
per-file-ignores =
    setup.py:INP001
    an_website/hangman_solver/words/*:INP001
    an_website/patches/braille.py:D103,D400
    an_website/patches/json.py:B950
    an_website/__main__.py:E402
    tests/__init__.py:E402
