*.py[cod]
/an_website.egg-info
/build
/dist

/venv
/logs
/config.ini
/.well-known

# cringe
**/node_modules

# ESLint cache
/.eslintcache

# coverage reports
/.coverage

# Perf8 reports
/perf8-report

# JetBrains
/.idea

# hangman-solver word lists
full_wordlist.txt
