*.py[cod]
/an_website.egg-info
/build
/dist

/venv
/logs
/config.ini
/.well-known

# Unit test / coverage reports
/.coverage

# nano backup files
*~

# Jetbrains
/.idea

# hangman-solver word lists
full_wordlist.txt
