__pycache__/
venv*/
logs/
config.ini

# Unit test / coverage reports
.coverage
.pytest_cache/

# mypy
.mypy_cache/

# nano backup files:
*~

# Jetbrains
.idea/

# hangman-solver word lists
full_wordlist.txt

# Känguru-Soundboard
an_website/kangaroo_soundboard/build/

# wiki:
an-website/wiki/build
