[MASTER]
extension-pkg-allow-list=orjson

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    line-too-long

[IMPORTS]
preferred-modules=xml:defusedxml,json:orjson
