[MASTER]
extension-pkg-allow-list=orjson

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,

[BASIC]
include-naming-hint=yes

[FORMAT]
expected-line-ending-format=LF

[LOGGING]
logging-format-style=new

[IMPORTS]
preferred-modules=xml:defusedxml,json:orjson
