[MASTER]
ignore=build,node_modules,venv
load-plugins=
    pylint.extensions.bad_builtin,
    pylint.extensions.broad_try_clause,
    pylint.extensions.check_elif,
    pylint.extensions.code_style,
    pylint.extensions.comparetozero,
    pylint.extensions.comparison_placement,
    pylint.extensions.confusing_elif,
    pylint.extensions.consider_ternary_expression,
    pylint.extensions.docparams,
    pylint.extensions.docstyle,
    #pylint.extensions.empty_comment,
    pylint.extensions.emptystring,
    pylint.extensions.eq_without_hash,
    pylint.extensions.for_any_all,
    pylint.extensions.mccabe,
    pylint.extensions.no_self_use,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.private_import,
    pylint.extensions.redefined_loop_name,
    pylint.extensions.redefined_variable_type,
    pylint.extensions.set_membership,
    pylint.extensions.typing,
    pylint.extensions.while_used,
    pylint_pytest,
extension-pkg-allow-list=
    blake3,
    lxml,
    orjson,
    pycurl,
recursive=yes
py-version=3.12

[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
enable=all
disable=
    file-ignored,
    locally-disabled,
    suppressed-message,
    docstring-first-line-empty,
    # TODO: enable after fixing all complaints
    consider-using-assignment-expr,
    cannot-enumerate-pytest-fixtures,
    # https://github.com/PyCQA/pylint/issues/2368
    duplicate-code,

[FORMAT]
max-line-length=120
expected-line-ending-format=LF

[BASIC]
include-naming-hint=yes

[IMPORTS]
preferred-modules=
    json:orjson,
    re:regex,
    xml:defusedxml,

[BROAD_TRY_CLAUSE]
max-try-statements=8
