[Unit]
Description=Webseite des AN

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
User=user-placeholder
ExecStart=/bin/pypy3 /home/user-placeholder/an-website/main.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target