#[GENERAL]
#processes = ...
#ignored_modules = spam, eggs
#trusted_api_secrets = correct_horse_battery_staple=3, xyzzy
#cookie_secret = fb7322c2c89e87db60045c9a93b9484119346e68b3e2cd2a7285c735f1a9310873bd34b7b89c2913a33bf3af7bc6c548ace9182ec05015589b103004bb2fe0e2c757165b16dd0dd9b8758d60a3523b0e43163dfcf25da3ad9dc12fabd8dd29a937894fafa0a2c10df30adf27ae3efee981ff3d001e9702f428317276ae875f24
#onion_address = ...
#behind_proxy = nope
#ratelimits = nope
#domain = ...
#port = ...
#unix_socket_path = ...

#[LOGGING]
#debug = nope
#path = logs

#[CONTACT]
#smtp_server = localhost
#smtp_port = 587
#sender_address = ...
#sender_username = ...
#sender_password = ...
# -- contact_address is shown to users if the rest isn't given, else it is the receiving address(es)
#contact_address = asozial@example.org
# if use_gpg, the email will be encrypted with gpg
# the public keys of the contact_addresses have to be in gpg
#use_gpg =  nope

#[TLS]
#enabled = nope
#certfile = /etc/letsencrypt/live/.../fullchain.pem
#keyfile = /etc/letsencrypt/live/.../privkey.pem
#password = hunter2
#hsts = nope

#[REDIS]
#enabled = nope
#db = 0
#username = default
#password = hunter2
#retry_on_timeout = nope
#unix_socket_path = ...
#host = localhost
#port = 6379
#ssl = nope
#ssl_keyfile = ...
#ssl_certfile = ...
#ssl_cert_reqs = required
#ssl_check_hostname = nope

#[ELASTICSEARCH]
#enabled = nope
#cloud_id = ...
#hosts = localhost:9200
#url_prefix = /
#use_ssl = nope
#verify_certs = sure
#username = elastic
#password = hunter2
#api_key = ...
#client_cert = ...
#client_key = ...
#retry_on_timeout = nope

#[APP_SEARCH]
#host = http://localhost:3002
#verify_cert = sure
#engine_name = ...
#search_key = ...

#[ELASTIC_APM]
#enabled = nope
#server_url = http://localhost:8200
#secret_token = xyzzy
#api_key = ...
#verify_server_cert = sure
