[GENERAL]
#ignored_modules = spam, eggs

[SSL]
enabled = nope
#certfile = /etc/letsencrypt/live/.../fullchain.pem
#keyfile = /etc/letsencrypt/live/.../privkey.pem
#password = hunter2

[TORNADO]
port = 8080
#protocol = http
behind_proxy = nope

[ELASTIC_APM]
enabled = nope
server_url = http://localhost:8200
#secret_token = ...
#api_key = ...

[ELASTICSEARCH]
#cloud_id = ...
host = localhost
port = 9200
url_prefix = /
use_ssl = nope
verify_certs = sure
#username = elastic
#password = hunter2
#api_key = ...
#client_cert = ...
#client_key = ...
retry_on_timeout = nope
#send_get_body_as = ...

[REDIS]
url = redis://localhost
#db = 1
#username = default
#password = hunter2
