#[GENERAL]
#processes = ...
#supervise = nope
#ignored_modules = spam, eggs
#committers_uri = https://github.asozial.org/an-website/committers.txt
#trusted_api_secrets = correct_horse_battery_staple=3, xyzzy
#cookie_secret = 量子チキンスープグラ ス ビッグチュングス
#onion_address = ...
#behind_proxy = nope
#ratelimits = ...
# ^- enabled by default if Redis is enabled
#domain = ...
#port = ...
#unix_socket_path = ...
#compress_response = nope

#[LOGGING]
#debug = nope
#path = ...
#webhook_url = https://discord.com/api/webhooks/...
#webhook_content_type = application/json
#webhook_body_format = {"embeds":[{"timestamp":"%(asctime)s","title":"%(levelname)s","description":"%(message)s","footer":{"text":"%(module)s:%(lineno)d"}}],"allowed_mentions":{"parse":[]},"username":"an-website","avatar_url":"https://asozial.org/favicon.png"}
#webhook_timestamp_timezone = ...
#webhook_timestamp_format = ...
#webhook_escape_message = sure

#[REPORTING]
#enabled = sure
#builtin = nope
#endpoint = https://asozial.org/api/reports

#[CONTACT]
#smtp_server = localhost
#smtp_port = 587
#smtp_starttls = ...
# ^- detected automatically by default (can be disabled through a STRIPTLS attack)
#sender_address = ...
#sender_username = ...
#sender_password = ...
#contact_address = asozial@example.org
# ^- shown to users if the rest isn't given, else it is the receiving address(es)

#[TLS]
#enabled = nope
#certfile = /etc/letsencrypt/live/.../fullchain.pem
#keyfile = /etc/letsencrypt/live/.../privkey.pem
#password = hunter2
#hsts = nope

#[REDIS]
#enabled = nope
#db = 0
#username = default
#password = hunter2
#retry_on_timeout = nope
#unix_socket_path = ...
#host = localhost
#port = 6379
#ssl = nope
#ssl_keyfile = ...
#ssl_certfile = ...
#ssl_cert_reqs = required
#ssl_check_hostname = nope

#[ELASTICSEARCH]
#enabled = nope
#cloud_id = ...
#hosts = localhost:9200
#url_prefix = /
#use_ssl = nope
#verify_certs = sure
#username = elastic
#password = hunter2
#api_key = ...
#client_cert = ...
#client_key = ...
#retry_on_timeout = nope

#[APP_SEARCH]
#host = ...
#verify_cert = sure
#engine_name = ...
#search_key = ...
#crawler_secret = ...

#[ELASTIC_APM]
#enabled = nope
#server_url = http://localhost:8200
#secret_token = xyzzy
#api_key = ...
#verify_server_cert = sure
#rum_server_url = ...
#rum_server_url_prefix = ...
