graft an_website
global-exclude *.ts
global-exclude *.py[cod]
include pip-requirements.txt
graft example-configurations
global-exclude tsconfig.json
global-exclude .eslintrc.*
include build-oci-image.sh
include Containerfile
include CNSTRNTS.TXT
include REVISION.TXT
include TESTDEPS.TXT
include TIMESTMP.TXT
include tests/__init__.py
include tests/commitment.txt
include tests/config.ini
