astor==0.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
astroid==3.3.8; python_full_version >= '3.9.0'
attrs==25.1.0; python_version >= '3.8'
autoflake==2.3.1; python_version >= '3.8'
bandit[toml]==1.8.2; python_version >= '3.9'
black==24.10.0; python_version >= '3.9'
build==1.2.2.post1; python_version >= '3.8'
certifi==2024.12.14; python_version >= '3.6'
cffi==1.17.1; python_version >= '3.8'
cfgv==3.4.0; python_version >= '3.8'
charset-normalizer==3.4.1; python_version >= '3.7'
click==8.1.8; python_version >= '3.7'
coverage[toml]==7.6.10; python_version >= '3.9'
cryptography==42.0.8; python_version >= '3.7'
dill==0.3.9; python_version >= '3.8'
distlib==0.3.9
docutils==0.21.2; python_version >= '3.9'
dulwich==0.22.7; python_version >= '3.9'
faker==22.7.0; python_version >= '3.8'
filelock==3.17.0; python_version >= '3.9'
flake8==7.1.1; python_full_version >= '3.8.1'
flake8-bugbear==24.12.12; python_full_version >= '3.8.1'
flake8-comprehensions==3.16.0; python_version >= '3.9'
flake8-docstrings==1.7.0; python_version >= '3.7'
flake8-no-pep420==2.8.0; python_version >= '3.9'
flake8-rst-docstrings==0.3.0; python_version >= '3.7'
flake8-scream==0.1.0; python_full_version >= '3.6.1'
flake8-simplify==0.21.0; python_full_version >= '3.6.1'
html5lib==1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
id==1.5.0; python_version >= '3.8'
identify==2.6.6; python_version >= '3.9'
idna==3.10; python_version >= '3.6'
iniconfig==2.0.0; python_version >= '3.7'
isort==6.0.0; python_full_version >= '3.9.0'
jaraco.classes==3.4.0; python_version >= '3.8'
jaraco.context==6.0.1; python_version >= '3.8'
jaraco.functools==4.1.0; python_version >= '3.8'
jeepney==0.8.0; sys_platform == 'linux'
keyring==25.6.0; platform_machine != 'ppc64le' and platform_machine != 's390x'
markdown-it-py==3.0.0; python_version >= '3.8'
mccabe==0.7.0; python_version >= '3.6'
mdurl==0.1.2; python_version >= '3.7'
more-itertools==10.6.0; python_version >= '3.9'
mypy@ git+https://github.com/python/mypy.git@a49d99139ace6627143fd8a913f04252c0f29e1e
mypy-extensions==1.0.0; python_version >= '3.5'
nh3==0.2.20; python_version >= '3.8'
nodeenv==1.9.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
numpy==1.26.4; python_version >= '3.9'
packaging==24.2; python_version >= '3.8'
pathspec==0.12.1; python_version >= '3.8'
pbr==6.1.0; python_version >= '2.6'
pep8-naming==0.14.1; python_version >= '3.8'
pipenv==2023.12.1; python_version >= '3.8'
platformdirs==4.3.6; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
pre-commit==3.8.0; python_version >= '3.9'
pycodestyle==2.12.1; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pydocstyle==6.3.0; python_version >= '3.6'
pyflakes==3.2.0; python_version >= '3.8'
pygments==2.19.1; python_version >= '3.8'
pylint==3.3.4; python_full_version >= '3.9.0'
pylint-pytest==1.1.8; python_version >= '3.6'
pyproject-hooks==1.2.0; python_version >= '3.7'
pyrepl@ git+https://github.com/pypy/pyrepl.git@502bcf766e22b7d3898ed318f4a02d575804eb6f
pytest==8.2.0; python_version >= '3.8'
pytest-cov==4.1.0; python_version >= '3.7'
pytest-is-running==1.5.1; python_version >= '3.8'
pytest-tornasync==0.6.0.post2
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyyaml==6.0.2; python_version >= '3.8'
readme-renderer==44.0; python_version >= '3.9'
requests==2.32.3; python_version >= '3.8'
requests-toolbelt==1.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
restructuredtext-lint==1.4.0
rfc3986==2.0.0; python_version >= '3.7'
rich==13.9.4; python_full_version >= '3.8.0'
secretstorage==3.3.3; sys_platform == 'linux'
setuptools==70.3.0; python_version >= '3.8'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
snowballstemmer==2.2.0
stevedore==5.4.0; python_version >= '3.9'
time-machine==2.16.0; python_version >= '3.9'
tomlkit==0.13.2; python_version >= '3.8'
tornado==6.4.2; python_version >= '3.8'
trove-classifiers==2024.10.16
twine==6.1.0; python_version >= '3.8'
types-beautifulsoup4==4.12.0.20241020; python_version >= '3.8'
types-cffi==1.16.0.20241221; python_version >= '3.8'
types-emoji==2.1.0.3
types-html5lib==1.1.11.20241018; python_version >= '3.8'
types-lxml==2023.10.21; python_version >= '3.8'
types-orjson==3.6.2
types-pillow==10.2.0.20240822; python_version >= '3.8'
types-pycurl==7.45.4.20241216; python_version >= '3.8'
types-pyopenssl==24.1.0.20240722; python_version >= '3.8'
types-python-dateutil==2.9.0.20241206; python_version >= '3.8'
types-pyyaml==6.0.12.20241230; python_version >= '3.8'
types-redis==4.6.0.20241004; python_version >= '3.8'
types-regex==2024.11.6.20241221; python_version >= '3.8'
types-setuptools==70.3.0.20240710; python_version >= '3.8'
types-zstd==1.5.6.2.20250126; python_version >= '3.9'
typing-extensions==4.12.2; python_version >= '3.8'
urllib3==2.3.0; python_version >= '3.9'
virtualenv==20.29.1; python_version >= '3.8'
webencodings==0.5.1
zopflipy==1.11; python_version >= '3.9'
zstd==1.5.6.2
accept-types==0.4.1
aiodns==3.2.0
aiohappyeyeballs==2.4.4; python_version >= '3.8'
aiohttp[speedups]==3.11.11; python_version >= '3.9'
aiosignal==1.3.2; python_version >= '3.9'
ansi2html==1.9.2; python_version >= '3.7'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
blake3==1.0.4
brotli==1.1.0
defity==0.5.1; python_version >= '3.10'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
dunamai==1.23.0; python_version >= '3.5'
ecs-logging==2.2.0; python_version >= '3.6'
elastic-apm==6.23.0; python_version >= '3.6' and python_version < '4'
elastic-enterprise-search==8.11.0; python_version >= '3.6'
elastic-transport==8.17.0; python_version >= '3.8'
elasticsearch[async]==8.15.1; python_version >= '3.8'
emoji==2.14.1; python_version >= '3.7'
frozenlist==1.5.0; python_version >= '3.8'
funcparserlib==1.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
get-version==3.5.5; python_version >= '3.9'
hangman-solver-rs==0.4.2; python_version >= '3.12'
hiredis==3.1.0
html2text==2024.2.26; python_version >= '3.8'
hy==1.0.0; python_version < '3.14' and python_version >= '3.8'
hyrule==0.8.0; python_version < '3.13'
jsonpickle==4.0.1; python_version >= '3.8'
lxml==5.3.0; python_version >= '3.6'
multidict==6.1.0; python_version >= '3.8'
openmoji-dist==15.1.0
orjson==3.10.15; python_version >= '3.8'
pillow==11.1.0; python_version >= '3.9'
pillow-jxl-plugin==1.3.1; python_version >= '3.8'
propcache==0.2.1; python_version >= '3.9'
pycares==4.5.0; python_version >= '3.9'
pycryptodome==3.21.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pycurl==7.45.2; python_version >= '3.5'
pyjwt==2.10.1; python_version >= '3.9'
pysocks==1.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-geoip-geolite2-yplan==2019.1224
python-geoip-yplan==1.2
pytz==2025.1
rapidfuzz==3.12.1; python_version >= '3.9'
redis[hiredis]==5.2.1; python_version >= '3.8'
regex==2024.11.6; python_version >= '3.8'
setproctitle==1.3.4; python_version >= '3.8'
soupsieve==2.6; python_version >= '3.8'
typed-stream==0.150.1; python_version >= '3.10'
tzdata==2025.1; python_version >= '2'
ultradict==0.0.6; python_version >= '3.8'
uvloop==0.21.0; python_full_version >= '3.8.0'
wrapt==1.17.2; python_version >= '3.8'
yarl==1.18.3; python_version >= '3.9'
