accept-types==0.4.1
aiodns==3.1.1
aiohttp[speedups]==3.9.1; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
ansi2html==1.8.0; python_version >= '3.6'
async-timeout==4.0.3; python_full_version <= '3.11.2'
attrs==23.1.0; python_version >= '3.7'
beautifulsoup4==4.12.2; python_full_version >= '3.6.0'
blake3==0.3.3
brotli==1.1.0
certifi==2022.12.7; python_version >= '3.6'
cffi==1.16.0; python_version >= '3.8'
defity==0.3.1; python_version >= '3.7'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
dill==0.3.7; python_version >= '3.7'
dunamai==1.19.0; python_version >= '3.5' and python_version < '4.0'
ecs-logging==2.1.0; python_version >= '3.6'
elastic-apm==6.19.0; python_version >= '3.6' and python_version < '4'
elastic-enterprise-search==7.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
elastic-transport==7.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
elasticsearch[async]==7.17.9; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3' and python_version < '4'
emoji==2.8.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
frozenlist==1.4.0; python_version >= '3.8'
funcparserlib==1.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6' and python_version < '3.13'
get-version==3.5.5; python_version >= '3.9'
hangman-solver-rs==0.2.0; python_version >= '3.10'
hiredis==2.2.3
html2text==2020.1.16; python_version >= '3.5'
hy==0.27.0; python_version < '3.13' and python_version >= '3.8'
hyrule==0.4.0; python_version < '3.13'
idna==3.6; python_version >= '3.5'
jsonpickle==3.0.2; python_version >= '3.7'
lxml==4.9.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
multidict==6.0.4; python_version >= '3.7'
orjson==3.9.10; python_version >= '3.8'
packaging==23.2; python_version >= '3.7'
pillow==10.1.0; python_version >= '3.8'
pillow-jxl-plugin==1.0.1; python_version >= '3.8'
pycares==4.4.0; python_version >= '3.8'
pycparser==2.21
pycryptodome==3.19.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pycurl==7.45.2; python_version >= '3.5'
pyjwt==2.8.0; python_version >= '3.7'
pysocks==1.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyston-lite==2.3.5; python_version < '3.11'
pyston-lite-autoload==2.3.5; python_version < '3.11'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-geoip-geolite2-yplan==2019.1224
python-geoip-yplan==1.2
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
rapidfuzz==3.5.2; python_version >= '3.8'
redis[hiredis]==5.0.1; python_version >= '3.7'
regex==2023.10.3; python_version >= '3.7'
setproctitle==1.3.3; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
soupsieve==2.5; python_version >= '3.8'
tornado==6.4; python_version >= '3.8'
typed-stream==0.42.0; python_version >= '3.10'
typing-extensions==4.8.0; python_version < '3.12'
tzdata==2023.3; python_version >= '2'
ultradict==0.0.6; python_version >= '3.8'
urllib3==1.26.18; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
uvloop==0.19.0; python_full_version >= '3.8.0'
wrapt==1.14.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
yarl==1.9.3; python_version >= '3.7'
