[requires]
python_version = "3.12"

[packages]
accept-types = "<2"
aiohttp = {version = "==3.*", extras = ["speedups"]}
ansi2html = "==1.*"
beautifulsoup4 = "==4.*"
# big = {version = "<2", extras = ["time"]}
blake3 = "<2"
certifi = "==2024.12.14"
# cryptography = "==42.*"
defity = "<2"
defusedxml = "<2"
dill = "<2"
ecs-logging = "==2.*"
elastic-apm = "==6.*"
elastic-enterprise-search = "<8.16"
elasticsearch = {version = "==8.15.*", extras = ["async"]}
emoji = "<3"
# frozendict = "==2.*"
get-version = "==3.*"
hangman-solver-rs = "<2"
html2text = "==2025.4.15"
hyrule = {version = "<2" }
jsonpickle = "==4.*"
lxml = "==5.*"
# more-itertools = "==10.*"
openmoji-dist = "*"
orjson = "==3.*"
packaging = "==25.0"
Pillow = "==11.*"
pillow-jxl-plugin = "==1.*"
pycryptodome = "==3.*"
pycurl = "==7.45.2"  # later may have broken wheels
pysocks = "==1.*"
python-dateutil = "==2.*"
python-geoip-geolite2-yplan = "==2019.1224"
python-geoip-yplan = "==1.*"
PyYAML = "==6.*"
qoi-rs = "==1.*"
rapidfuzz = "==3.*"
redis = {version = "==5.*", extras = ["hiredis"]}
regex = "==2024.11.6"
setproctitle = "==1.*"
tornado = "==6.*"
typed-stream = "<2"
tzdata = "*"
UltraDict = "<2"
uvloop = "<2"

[dev-packages]
autoflake = "==2.*"
bandit = {version = "==1.*", extras = ["toml"]}
black = "==24.*"
build = "<2"
coverage = "==7.*"
cryptography = "==44.*"
dulwich = "<2"
Faker = "==22.*"
flake8 = "==7.*"
flake8-bugbear = "==24.*"
flake8-comprehensions = "==3.*"
flake8-docstrings = "==1.*"
flake8-no-pep420 = "==2.*"
flake8-rst-docstrings = "<2"
flake8-scream = "<2"
flake8-simplify = "<2"
html5lib = "==1.*"
isort = "==6.*"
#mypy = "==1.*"
mypy = "==1.*"
numpy = "==1.*"
packaging = "==25.0"
pep8-naming = "<2"
# pex = "==2.2.*"
# pip-tools = "==7.*"
pipenv = "==2023.12.1"
pre-commit = "==3.*"
pylint = "==3.*"
pylint-pytest = "==1.*"
pyrepl = {git = "git+https://github.com/pypy/pyrepl.git", ref = "502bcf766e22b7d3898ed318f4a02d575804eb6f"}
pytest = "==8.*"
pytest-cov = "==4.*"
pytest-is-running = "==1.*"
pytest-tornasync = "<2"
# ruff = "<2"
setuptools = "==70.*"
time-machine = "==2.*"
trove-classifiers = "==2025.4.11.15"
twine = "==6.*"
types-beautifulsoup4 = "==4.*"
types-emoji = "==2.*"
types-lxml = "==2025.3.30"
types-orjson = "==3.*"
types-Pillow = "==10.*"
types-pycurl = "==7.*"
types-python-dateutil = "==2.*"
types-PyYAML = "==6.*"
types-redis = "==4.*"
types-regex = "==2024.11.6.*"
types-setuptools = "==70.*"
zopflipy = "==1.*"
zstandard = "<2"
