[requires]
python_version = "3.10"

[packages]
aiohttp = {version = "==3.*", extras = ["speedups"]}
ansi2html = {version = "==1.*"}
beautifulsoup4 = {version = "==4.*"}
blake3 = {version = "<2"}
#defity = {version = "<2"}
defusedxml = {version = "<2"}
dill = {version = "<2"}
ecs-logging = {version = "==1.*"}
elastic-apm = {version = "==6.*"}
elastic-enterprise-search = {version = "==7.*"}
elasticsearch = {version = "==7.*", extras = ["async"]}
emoji = {version = "==1.*"}
envelope = {version = "==2.*"}
get_version = {version = "==3.*"}
hyrule = {version = "<2"}
jxlpy = {version = "<2"}
lxml = {version = "==4.*"}
namedthreads = {version = "*"}
numpy = {version = "==1.*"}
orjson = {version = "==3.*"}
Pillow = {version = "==9.*"}
pycryptodome = {version = "==3.*"}
pycurl = {version = "*"}
python-dateutil = {version = "==2.*"}
python-Levenshtein = {version = "<2"}
redis = {version = "==4.*", extras = ["hiredis"]}
#regex = {version = "*"}
sympy = {version = "==1.*"}
tornado = {version = "==6.*"}
tzdata = {version = "==2022.1"}
UltraDict = {version = "<2"}
uvloop = {version = "<2"}

[dev-packages]
autoflake = {version = "==1.*"}
black = {version = "==22.*"}
coverage = {version = "==6.*"}
flake8 = {version = "==4.*"}
flake8-bugbear = {version = "*"}
flake8-docstrings = {version = "==1.*"}
flake8-no-pep420 = {version = "==2.*"}
html5lib = {version = "==1.*"}
isort = {version = "==5.*"}
mypy = {version = "<2"}
pep8-naming = {version = "<2"}
pipenv = {version = "*"}
pre-commit = {version = "==2.*"}
pylint = {version = "==2.*"}
pyrepl = {git = "git+https://github.com/blueyed/pyrepl.git", ref = "release-0.10.0"}
pysocks = {git = "git+https://github.com/urllib3/PySocks.git", ref = "main"}
pytest = {version = "==7.*"}
pytest-cov = {version = "==3.*"}
pytest-tornasync = {version = "<2"}
rcssmin = {version = "==1.*"}
rjsmin = {version = "==1.*"}
types-beautifulsoup4 = {version = "==4.*"}
types-orjson = {version = "==3.*"}
types-Pillow = {version = "==9.*"}
types-python-dateutil = {version = "==2.*"}
types-redis = {version = "==4.*"}
types-requests = {version = "==2.*"}
