[build-system]
requires = ["get_version==3.5.4", "setuptools==63.4.3", "wheel==0.37.1"]
build-backend = "setuptools.build_meta"

[tool.bandit]
skips = ["B311"]

[tool.black]
target-version = ["py310", "py311"]
required-version = "22.8.0"
line-length = 80
preview = true

[tool.isort]
atomic = true
profile = "black"
py_version = "310"
line_length = 80
skip_gitignore = true
add_imports = ["from __future__ import annotations"]

[tool.mypy]
strict = true
sqlite_cache = true
python_version = "3.10"
warn_unreachable = true
show_error_codes = true
plugins = "numpy.typing.mypy_plugin"
