[build-system]
requires = ["get_version==3.5.4", "setuptools==61.3.1", "wheel==0.37.1"]

[tool.black]
line-length = 80
target-version = ["py310"]

[tool.isort]
atomic = true
profile = "black"
py_version = "310"
line_length = 80
skip_gitignore = true
add_imports = ["from __future__ import annotations"]

[tool.mypy]
strict = true
python_version = "3.10"
show_error_codes = true
warn_unreachable = true
warn_unused_ignores = true
warn_redundant_casts = true
plugins = "numpy.typing.mypy_plugin"
