-r requirements.txt
black>=21.12b0
coverage~=6.2
flake8~=4.0
flake8-docstrings~=1.6
flake8-no-pep420~=2.0
isort~=5.10
mypy>=0.930,<2
numpy
pre-commit~=2.16
pylint~=2.12
pytest>=6.2.5,<7
pytest-tornasync>=0.6,<2
#types-Markdown~=3.3
types-orjson~=3.6
types-Pillow~=9.0
#types-PyYAML~=6.0
types-requests~=2.27
