#aiohttp[speedups]>=3.8
#aioredis~=2.0 (not released yet)
#asyncpg>=0.23,<2
ansi2html~=1.6
defusedxml>=0.7.1,<2
ecs-logging~=1.0
elastic-apm~=6.0
elasticsearch[async]>=7.13.2,<8
orjson>=3.5.3,<4
pycurl>=7.43.0.6,<8
tornado~=6.1
uvloop>=0.15.2,<2
