/* base */
:root {
    accent-color: var(--main);
    /* other useful stuff: */
    --header-height: 4rem;
}

#skip-to-content {
    position: absolute;
    left: 1rem;
    top: 0;
    transform: translateY(-3rem);

    font-weight: bold;

    color: var(--text-color);
    background-color: var(--main);

    border-radius: 0 0 0.5rem 0.5rem;

    padding: 0 1rem 0 1rem;
    height: 2rem;

    z-index: 10;
}

#skip-to-content:focus {
    top: var(--header-height);
    transform: translateY(0);
}

body {
    max-width: 100vw;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background: var(--bg);
}

body * {
    color: var(--text-color);
    background: transparent;
}

#body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: calc(100% - 4vw);
    width: 96vw;
    /* top, right, bottom, left */
    padding: 0.5rem 2vw 0 2vw;
}
/* .text is for version page */
#body, .text, a {
    white-space: normal;
    line-break: auto;
    hyphens: auto;
}

.center-text {
    text-align: center;
}

a:not(.no-style-a, .no-style-a-in, .no-style-a-emoji) {
    color: var(--main)
}

.no-style-a, .no-style-a-in, .no-style-a-emoji {
    text-decoration: none;
}

.no-style-a {
    display: block;
}

.no-style-a:hover, .no-style-a-in:hover {
    text-decoration: underline;
}

.hidden {
    position: absolute;
    display: none;
    pointer-events: none;
    visibility: collapse;
    max-width: 0 !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0;
}
/* base end */


/* footer */
#footer {
    display: block;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    margin-top: 2.6rem;
    margin-bottom: 0.5rem;
}
/* footer end */


/* header */
header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    z-index: 2;

    overflow: hidden;

    width: 100vw;
    max-width: 100%;
    margin: 0;
    color: #fff;
    height: var(--header-height);
}

#title-container {
    margin-top: 0;
    padding: 0;
    height: var(--header-height);
    background-color: var(--main);
}

#title, #back-to-home {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
}

#title {
    font-size: 2rem;
    white-space: nowrap;
    left: calc(1rem + calc(var(--header-height) / 1.55));
}

#back-to-home {
    left: 0.5rem;
    border-color: var(--text-color);
    border-width: 0;
    border-style: solid;
    border-radius: 50%;
    background-color: var(--text-color);
    height: calc(var(--header-height) / 1.55);
    width: calc(var(--header-height) / 1.55);
}

#kangaroo-face path {
    /*
    ugly workaround because Chromium is stupid
    see: https://bugs.chromium.org/p/chromium/issues/detail?id=109212&q=clip-path&can=2
    the path is the same as in KangarooFace.svg
    setting it directly as clip-path doesn't work because of scaling issues
    */
    d: path("m.1959.9936c.0075-.008.0307-.0257.0585-.0446.0306-.0208.0368-.0284.0557-.067l.0093-.0191-.0023-.0209c-.0053-.0479-.0111-.0631-.0294-.0782l-.0102-.0084-.0221.0017c-.0121.0009-.033.0014-.0463.0011-.023-.0006-.0249-.0009-.0369-.006-.0188-.008-.034-.0189-.0397-.0283-.0045-.0076-.0048-.0096-.0048-.033.0001-.0249.0001-.025.0072-.0408.0039-.0087.0072-.0168.0072-.0179 0-.0031-.0033-.0037-.0439-.0081-.0207-.0022-.039-.0044-.0406-.0048-.0016-.0004-.0104-.0014-.0196-.0023-.0268-.0025-.038-.0091-.038-.0221 0-.0109.001-.0119.0112-.0109.0218.0021.0373.0045.0579.0091.0206.0046.0237.0048.047.0041.0245-.0008.0393-.0034.0408-.0071.0013-.0032-.006-.0052-.0257-.007-.0379-.0035-.0349-.0027-.0466-.0118-.0059-.0046-.0153-.0115-.0209-.0154-.0128-.0088-.0154-.0131-.018-.0296-.0026-.0165-.0008-.0246.0111-.0486.0048-.0097.0143-.0293.0212-.0435.0068-.0142.0156-.0297.0194-.0344.0111-.0136.0294-.0253.0631-.0402.0167-.0074.0311-.014.0319-.0146.0008-.0006.0028-.0074.0044-.015.0041-.0195.0069-.0254.0213-.0435.0069-.0087.0123-.0161.012-.0163-.0004-.0002-.0115-.0068-.0247-.0145-.0142-.0083-.0303-.0196-.0393-.0275-.0109-.0095-.0187-.0147-.0269-.018-.0199-.0079-.0274-.0211-.0364-.0638-.013-.062-.014-.0978-.0036-.132.003-.0099.0038-.0109.0082-.0109.0062 0 .0352.011.0615.0232.0111.0052.0507.0265.0881.0474l.068.038.027.0261.027.0261.0331.059-.0046.0076c-.0042.007-.0058.0125-.0036.0125.0005 0 .0197.0029.0427.0063.0528.008.1151.0162.1234.0162h.0063l-.0012-.0188-.0012-.0188.0499-.0906.045-.0373.0413-.0183c.0538-.0238.0867-.037.1545-.0618l.0557-.0204.0182.0049c.0186.005.0357.0088.0482.0105l.0069.001.0031.0197.0031.0197-.0058.0126c-.0063.0136-.0131.0354-.0185.0583-.0032.0137-.004.0151-.0146.0257-.0112.0111-.0112.0112-.0099.0193.0007.0045.0032.015.0056.0234l.0044.0153-.0075.0262c-.0103.0359-.0167.0435-.0421.0496-.0058.0014-.0113.0031-.0122.0038-.0009.0007.0023.0025.0072.0041.0191.0061.0172.0104-.0128.0291-.0348.0217-.0311.0206-.0713.0211-.0332.0004-.0413.0012-.0322.0032.007.0015.0038.0042-.0125.0102-.0308.0113-.0598.0289-.0671.0408-.0043.0069-.0038.0269.0011.047.0055.0225.0372.1126.0465.132.0086.0181.0135.0254.0427.0642.0112.0149.0204.0281.0204.0292s-.0036.0031-.008.0043c-.009.0025-.0113.0053-.0057.0068.0021.0006.0044.0022.0051.0038.0007.0015.0025.0244.004.0509.0029.051.0057.067.015.0839.0054.0098.0274.0345.0509.0571.0097.0093.0181.0186.0187.0207.0013.0043-.0028.0119-.0059.0111-.0011-.0003-.0048-.0045-.0081-.0093-.0316-.0454-.0477-.0604-.0779-.0729-.0205-.0085-.0354-.0117-.0611-.0132-.0228-.0013-.0274-.0002-.0482.0124-.0144.0088-.0161.0094-.0166.0063-.0011-.0059.0115-.0339.0152-.0339.0009 0 .0017.0036.0017.008v.008l.012-.007c.0066-.0038.0185-.0101.0264-.0139.019-.0091.0211-.0108.0211-.0169 0-.0061-.0112-.0408-.0181-.056-.0063-.0139-.0172-.0321-.0297-.0495-.0085-.0119-.0115-.0177-.0092-.0177.0004 0 .0053.0013.011.003.0171.0049.0209.0054.0209.0029 0-.0053-.0372-.0246-.0439-.0228-.0019.0005-.0063.0054-.01.0108-.0036.0055-.0075.0102-.0086.0105-.0011.0003-.0031-.0013-.0043-.0036-.003-.0055-.0059-.0044-.0112.0042-.0037.0061-.006.0131-.0113.0349-.0007.0029-.0022.0036-.0076.0036-.0037 0-.0189.0019-.0338.0042-.0242.0037-.0307.0041-.06.0035-.0313-.0006-.0396-.0016-.0396-.0045 0-.0007.0067-.0047.0149-.0088.0082-.0041.0211-.0115.0288-.0163.0077-.0048.0139-.0082.0139-.0076 0 .0006-.0027.0046-.006.009s-.0055.0083-.0049.0088c.0014.0012.0253-.0103.0407-.0195.0164-.0098.029-.0196.0273-.0211-.0008-.0007-.0068-.0001-.0134.0014-.0065.0015-.0122.0024-.0126.002-.0004-.0003.0065-.0045.0153-.0093.0088-.0048.0202-.0117.0253-.0154.0051-.0037.0099-.0064.0108-.0059.0008.0004.0021.003.0027.0058.0029.0122.0186-.0045.0201-.0214.0009-.01-.0025-.027-.0054-.027-.0009 0-.0045.0031-.008.0068-.0127.0136-.0181.0147-.0163.0032.0007-.0042.0017-.0127.0023-.0189l.0011-.0113-.0079.008-0-.0063c-.0001-.0115.0112-.0419.0146-.0391.0005.0004.0027.0061.0049.0126.0022.0065.0051.0132.0064.0148.0022.0027.0025.0026.0036-.0008.0006-.002.0012-.0103.0012-.0183 0-.0134.0004-.0149.0047-.0183l.0047-.0037.0007.0046c.0007.0046.0007.0046.0049-.0021.0023-.0037.0065-.0131.0093-.0209.0045-.0126.0049-.016.0038-.0303-.0012-.0164-.0044-.0363-.0061-.0377-.0021-.0018-.0045.0044-.0046.0115-0 .0083-.0016.013-.0038.0118-.0008-.0004-.0021.0065-.0028.0153-.0007.0088-.0021.0161-.003.0161-.0009 0-.0022-.0042-.0029-.0093-.0027-.0191-.0138-.039-.0217-.039-.0019 0-.0051.001-.0071.0023-.0036.0023-.0036.0025.0017.0105.0059.0089.004.0108-.0049.0049-.0076-.005-.0227-.0099-.0316-.0102-.0074-.0002-.009.0005-.0184.0083-.0133.011-.025.0142-.0574.0157l-.0238.0011-.0083-.0083c-.0046-.0046-.008-.0086-.0076-.009.0004-.0003.0064.0015.0132.004.0228.0086.0333.0064.0739-.0151.0116-.0062.0201-.0095.0276-.0107.0182-.0029.0194-.0032.0194-.0047 0-.0026-.0125-.0034-.0239-.0016-.0062.001-.0177.0039-.0254.0065-.029.0097-.0373.0094-.06-.0017-.0069-.0034-.017-.0073-.0226-.0089-.0055-.0015-.0101-.0034-.0101-.0042 0-.002.03-.0138.0411-.0161.0089-.0019.0404-.0012.0506.0011.0039.0009.0043.0004.0043-.0049 0-.0112-.0107-.0162-.0388-.0181-.0126-.0009-.0165-.0005-.0265.0027-.0064.002-.0122.0033-.0127.0028-.0006-.0005.0062-.0039.0149-.0076l.016-.0067.0211.0007c.023.0008.038.0044.0559.0134l.0094.0047-.0072.0005c-.0091.0006-.0092.0033-.0005.0097.0037.0027.0067.0057.0067.0067 0 .0043.0073-.0001.0143-.0085l.0076-.0092.0047.0036.0047.0036-.0012-.004c-.0007-.0022-.0017-.0069-.0023-.0105l-.001-.0064.0052.008c.0029.0044.0066.012.0084.0169.0033.0093.0058.0108.0147.0089.0064-.0013.0141-.0151.0141-.0253 0-.0082-.0021-.011-.0267-.0344-.0065-.0062-.0132-.0132-.0149-.0155l-.003-.0042-.0429-.0009c-.0236-.0005-.0443-.0016-.0462-.0025-.0028-.0013-.0014-.0024.0081-.0064.0063-.0027.0135-.0062.016-.0079.004-.0027.0043-.0036.0022-.0068-.0032-.0051-.0016-.0057.0084-.0034.0093.0022.0118.0039.0128.0088.0005.0024.0061.0046.024.0098.0259.0074.033.0106.0326.0147-.0002.0018.0018.0032.0055.0041.007.0017.0144.0004.0144-.0024 0-.0023-.025-.023-.0379-.0314-.0045-.0029-.0082-.006-.0082-.0068 0-.0008.0112-.001.0264-.0004.0223.0009.0274.0006.0325-.0016.0077-.0033.0327-.0213.0353-.0254.0019-.003.0014-.0031-.0154-.002-.0152.001-.0174.0008-.0174-.0015 0-.0014.0081-.0115.0179-.0224.017-.0187.0236-.027.0217-.027-.0005 0-.005.0015-.0101.0034-.0158.0057-.0179.0063-.0179.0047 0-.0028.0143-.0095.0376-.0178.0298-.0105.0558-.0216.0814-.0345.0284-.0143.0283-.0143.0223-.0043-.0054.009-.0064.0148-.0024.0148.0033 0 .0229-.0115.0339-.0199.0146-.0112.0248-.0221.0352-.0377.0055-.0082.0109-.0149.0121-.0149.0034-0 .0045.0059.0045.0241-0 .0205-.002.0247-.0071.0147l-.0035-.007-.0127.0113c-.0147.0131-.0285.0294-.0283.0336.0001.002.004-.0006.0125-.0082.0068-.0061.013-.0106.0137-.0101.0038.0032-.015.0522-.0292.0764-.0056.0095-.0098.0175-.0093.0179.0004.0004.0043-.0002.0086-.0013.0043-.0011.0084-.0015.0091-.0009.0023.002-.0179.0151-.0381.0247-.0111.0053-.0312.014-.0446.0194-.0135.0054-.0245.0105-.0245.0113 0 .0016.003.0025.0138.0041.0098.0014.0106.0035.0021.0058-.013.0036-.0526-.0004-.1038-.0106-.0076-.0015-.0049.0034.0048.0086.0131.007.0353.0152.0573.0212.0215.0058.0221.0058.0718-.0003.0375-.0046.0379-.0047.0254-.01-.0055-.0024-.0101-.0053-.0101-.0064 0-.0025.0119-.0042.0297-.0042.0066 0 .0173-.0005.0238-.001.0094-.0008.0118-.0016.0113-.0036-.0006-.0027-.0031-.0039-.0229-.0115-.0172-.0066-.0178-.0088-.004-.0139.0407-.0152.0451-.0178.0542-.0327.0076-.0125.0173-.0363.0173-.0423 0-.0039-.0019-.0065-.0082-.0112l-.0082-.0062.0072.001c.004.0005.0072.0004.0072-.0002s-.0034-.0046-.0076-.0088c-.0103-.0103-.016-.0187-.0147-.0217.001-.0022.0016-.0022.0058.0001l.0047.0026.0021-.0094c.0068-.0295.0102-.0347.0125-.0191.0007.0049.002.0089.0028.0089.0026 0 .0133-.0212.0163-.0322.0016-.0058.0039-.0231.0051-.0386.0013-.0155.003-.0288.0039-.0297.001-.0009.0029.0011.0048.0048.0039.008.0044.0084.0066.0055.003-.0039.002-.0148-.002-.0222-.0045-.0083-.0035-.0086-.0287.0084-.01.0067-.0212.013-.025.0138-.0136.0032-.0516.001-.0403-.0023.0016-.0005.0084-.0016.0153-.0026.0156-.0022.0298-.0078.0383-.0152l.0066-.0057h-.0089c-.0049 0-.0103-.0005-.0122-.0011-.0028-.0009-.0023-.0018.0032-.0058l.0065-.0047-.0079.0007c-.0122.0012-.0341.0095-.1379.0527-.1086.0451-.1215.0512-.1357.0634-.0177.0152-.0385.0486-.0543.0871-.0074.0181-.0086.0371-.003.0489.0023.0048.0037.009.0032.0094s-.0088.0019-.0185.0032c-.0203.0029-.0209.0028-.0834-.01-.0435-.0089-.0623-.0098-.0844-.0042-.0074.0019-.0152.0034-.0173.0034-.0032-0-.0028-.0008.0027-.0046.0036-.0025.006-.0053.0053-.0062-.0019-.0026-.0198-.0057-.0322-.0056-.0061.0001-.017.0016-.0242.0033-.0171.0042-.0369.0073-.0383.0061-.0006-.0005.0058-.0065.0144-.0133.0126-.0099.0169-.0147.0226-.0246.0078-.0136.0068-.0139.0144.0036.004.0092.0042.0094.01.0084.0145-.0024.0187-.0089.0151-.0233-.0033-.0132-.0116-.0266-.0278-.0448-.0344-.0387-.0591-.0557-.1777-.1224-.0351-.0198-.0667-.0342-.0747-.0342-.006 0-.0055.0048.0016.0165.018.0298.0338.043.092.0768.0111.0065.0189.0114.0173.011-.0324-.0083-.0462-.0114-.0472-.0105-.0021.0017.003.0157.0106.0293.0088.0157.021.0257.0463.0378.0095.0046.0173.009.0173.0098 0 .0022-.0019.0019-.0154-.0025-.0165-.0054-.0194-.0052-.0125.0008.0108.0095.0424.0251.0632.0312.0051.0015.003.0027-.0078.004l-.0093.0012.0059.0026c.0032.0014.0132.0038.0221.0053.0089.0015.0169.0033.0179.004.0026.002-.0069.0086-.0224.0154-.0128.0057-.0153.0062-.0321.0067-.0199.0006-.0261-.0009-.0211-.0051.0016-.0013.0075-.0045.0131-.0071l.0102-.0047-.01-.0011c-.0111-.0012-.0192-.0053-.0409-.0207-.0314-.0223-.0525-.0423-.0482-.0459.0007-.0006.0046.0006.0087.0026.0041.002.0078.0036.0082.0036.0004 0-.0003-.006-.0016-.0134-.0056-.0319-.0102-.0435-.0248-.0624-.008-.0104-.0087-.0119-.006-.0136.0017-.001.0031-.0025.0031-.0033 0-.0017-.0214-.02-.0235-.02-.0027 0-.0016.0059.0053.0307.0062.0221.0071.0299.0029.0242-.0009-.0012-.0052-.0131-.0097-.0265-.012-.036-.0173-.0494-.0193-.0494-.0065 0 .0046.0681.0128.0786.0024.003.0035.0034.0057.0018.0023-.0016.0028-.001.0028.004 0 .0032-.0014.0086-.0031.0119l-.0031.006-.0045-.008c-.0042-.0075-.0045-.0077-.0046-.0032-.0001.0027.002.0121.0047.0209s.0048.0172.0048.0185c.0001.0052.0041.0145.0063.0145.0013 0 .005-.0027.0084-.006l.0061-.006-.001.0106c-.0012.0123.0013.0176.0119.0254.009.0066.0181.0104.0356.0148.0157.0039.0298.0093.0281.0107-.0006.0005-.0074-.0003-.0151-.0018-.0077-.0015-.016-.0031-.0185-.0035-.0099-.0017-.0019.0039.0246.0173.0152.0076.0298.0161.0325.0188.0044.0044.0063.005.0178.0055.0221.001.0203.0033-.0086.0111-.0207.0056-.0289.0109-.0362.0236-.0045.0078-.0028.0116.0051.0116.0064 0 .0398.0075.0479.0108.0069.0028.0072.0027.0145-.0008.0083-.004.0095-.0043.0095-.002 0 .0028-.0217.0109-.0588.0218-.0475.014-.0726.0223-.0837.0277-.011.0054-.0377.0251-.0436.0321-.0043.0051-.0152.0322-.0195.0482-.0022.0082-.0021.0085.0038.0146.0069.007.0046.009-.0053.0047-.0087-.0038-.0099-.0032-.0094.0042.0005.0063.0001.0068-.0055.008-.0099.0022-.0112.0049-.012.025-.0011.0288.0051.0379.0256.0379.0114 0 .0197-.0032.0267-.0102.0072-.0071.0079-.0107.0079-.0378 0-.0219-.0005-.0256-.0055-.0394-.0064-.0177-.0091-.0395-.0048-.0383.0014.0004.0032.0032.004.0062.0104.0429.0125.046.0289.0444.0099-.001.0382-.0111.0421-.015.0029-.0029.0004-.0027-.0124.001-.0225.0065-.0072-.0041.0197-.0136.0193-.0068.0289-.0083.0367-.0056.0074.0026.0065.0049-.0029.0071-.0149.0035-.0074.0087.0097.0068.012-.0014.0232-.0066.0269-.0126.0042-.0068.0016-.014-.0097-.0268-.0085-.0097-.0085-.0097-.0029-.0081.0118.0035.0249.0215.0249.0343 0 .0065.0044.0095.0123.0084.0067-.0009.0121-.0037.0564-.029.0155-.0089.0196-.0105.0196-.0078 0 .003-.0518.0392-.066.0462-.0102.005-.0288.0088-.0821.0169-.0239.0036-.0478.0077-.0529.0089-.0207.0051-.0364.0269-.0311.043.0039.0119.0377.0316.0643.0374.0163.0036.0584.0033.0807-.0006.0202-.0035.0279-.0071.0467-.022.0109-.0086.0137-.0119.015-.0173.0016-.0066.0017-.0067.0106-.0072.0128-.0007.0292.0022.0426.0075.0127.005.0219.0106.02.0122-.0007.0006-.0075-.0002-.0151-.0016-.018-.0034-.0365-.0026-.0482.0022-.0177.0072-.0521.0359-.0708.0591-.0101.0125-.0202.0288-.0327.053-.0088.0169-.016.0253-.0253.0293-.0058.0025-.0391.0053-.0643.0054l-.0139 0v.0057c0 .0074.003.012.0078.012.0021 0 .006.0018.0087.004.0056.0047.0065.0049.0065.0016 0-.0042.0052-.0026.0093.0027.0021.0028.0035.0057.003.0064-.0015.0021-.0118.0015-.0194-.0012-.0081-.0028-.0112-.0013-.0095.0045.0014.0048.0234.0212.0327.0245.0048.0017.014.0024.0315.0024h.0247l.0094-.0056c.0109-.0065.0123-.0068.0123-.0024 0 .0018.0012.0032.0027.0032.0042 0 .0104-.0076.0136-.0166.0044-.0124.004-.0137-.0042-.0143l-.0071-.0005.0084-.0047c.0046-.0026.0219-.0111.0383-.019.0294-.0141.0299-.0143.0305-.0102.0003.0023.0014.0041.0023.0041.0021 0 .0149-.0143.0219-.0246.0029-.0042.0055-.0076.0058-.0076.0003 0-.0006.0042-.002.0093-.0031.011-.0035.0181-.0009.0181.001 0 .0077-.0061.0149-.0136.0071-.0075.0133-.0129.0136-.0121.0003.0008-.0033.0081-.008.0162-.0048.0081-.0082.0157-.0076.017.0006.0013.0043.0037.0082.0054l.0071.003.0306-.0069c.0332-.0075.0469-.0099.0469-.0081 0 .0006-.0018.0036-.004.0066-.0053.0072-.0031.0071.0204-.0004.01-.0032.0188-.0054.0194-.0049.0012.001-.0066.0226-.0129.0355l-.0038.0078.0087-.0006c.0051-.0003.0084.0001.0081.001-.0009.0022-.0253.0132-.0359.0161-.0048.0013-.0219.0037-.0382.0053l-.0296.0028.0207.0104c.0283.0143.0393.0255.0394.0399 0 .0029-.0008.0035-.0036.0028-.0031-.0008-.0038.0005-.0059.0111-.0013.0066-.003.0124-.0038.0129-.0008.0004-.0033-.0053-.0055-.0127-.0022-.0074-.0054-.0161-.0072-.0193-.0067-.0118-.0363-.0331-.046-.0331-.0022 0-.0066.0022-.0097.0049-.0076.0067-.0076.0147.0001.0243l.0057.0071.0011-.008.0011-.008.0024.0048c.0033.0066.0079.0231.0079.0289 0 .0045-.0007.0041-.0173-.0095-.0118-.0097-.018-.0137-.0193-.0126-.0011.0009-.0026.009-.0035.018-.0008.009-.002.0167-.0025.0172-.0017.0014-.0086-.0137-.013-.0282-.0062-.0204-.0182-.04-.0224-.0365-.0006.0005-.0002.0052.001.0103.0056.0246.0087.1104.0041.1164-.0016.002-.0019.002-.0019-.0005-.0001-.0065-.0051-.0008-.0137.0157-.0121.023-.0205.0318-.0461.0488-.0337.0223-.0447.0303-.0454.0332-.0005.0022.0004.0025.0053.0017.0032-.0005.0059-.0005.0059.0001 0 .001-.0313.0138-.0338.0138-.0006 0 .0017-.0029.005-.0064m.1655-.2411c.008-.0077.0089-.0165.0011-.0106-.0035.0027-.0092.0104-.0092.0125 0 .002.0054.0007.0081-.0019m-.1581-.0804c.0046-.0022.0079-.0043.0074-.0047-.0016-.0013-.0231.0067-.024.0089-.0011.0028.0055.0012.0166-.0042m-.0438.002c0-.0026-.0131-.0122-.0166-.0122-.0037 0-.0044.0023-.0019.0065.0038.0064.0186.011.0186.0057m.0176-.0197c.0054-.0041.0043-.0099-.003-.016-.0068-.0057-.0105-.0066-.0166-.0038-.0027.0012-.0037.0034-.0037.0079 0 .0108.0149.0184.0234.0119m.0341-.0021c.0061-.0037.0103-.0109.0093-.0164-.0009-.0054-.0088-.0057-.0206-.0007-.0136.0058-.0168.0112-.0098.017.0049.0041.0142.0041.021 0m.5528-.0148c-.0071-.005-.0474-.0216-.0441-.0182.0038.0039.0259.0157.0355.0189.0109.0037.0145.0034.0086-.0007m-.5602-.012c.0181-.0049.022-.0055.0257-.0038.0024.0011.0052.0015.0063.0009.0025-.0013.0179-.0209.0231-.0295.0068-.0111.006-.0123-.0073-.0113-.012.0009-.0276.0061-.0429.0144-.0051.0027-.0097.0045-.0103.004-.0006-.0005 0-.0036.0013-.0069.0021-.0053.002-.0063-.0011-.0082-.0045-.0028-.0109-.0027-.0192.0002-.009.0032-.0116.0091-.0079.0177.0016.0036.0032.0103.0037.0149.0007.0071.0037.0133.0065.0133.0004 0 .0104-.0026.0221-.0058m-.1089-.0081c.0018-.0006.003-.0029.003-.0054 0-.0038-.0014-.0049-.0091-.0077-.0214-.0076-.05-.0139-.0551-.0123-.0036.0012-.0039.0076-.0005.01.0014.001.0102.005.0197.009.0144.0061.019.0073.0281.0073.006 0 .0122-.0004.0139-.001m-.0215-.0105c.001-.0025.0053-.0029.0054-.0006.0001.0009-.0013.0019-.0031.0022-.002.0003-.0029-.0003-.0023-.0016m.0864.0091c.0023-.0007.0034-.0028.0034-.0066v-.0055l-.0206.0002c-.0113.0001-.0232.0007-.0264.0012-.0069.0012-.0085.0056-.0036.0102.0033.0031.005.0032.0237.0024.0111-.0005.0217-.0014.0235-.002m-.1406-.0217c0-.0009-.0004-.0016-.0008-.0016-.0005 0-.0014.0007-.002.0016-.0007.0009-.0003.0016.0008.0016.0011 0 .002-.0007.002-.0016m.1497-.0194c0-.0024-.0159-.0151-.0239-.019l-.0067-.0033-.0039.0042c-.0072.0077-.0041.0141.0086.0179.0076.0022.0259.0024.0259.0003m-.0483-.006c.0003-.0029-.0004-.0093-.0016-.0142-.0025-.0102-.0031-.0103-.0208-.0019-.0117.0056-.0134.0078-.0092.0127.0054.0065.0131.0096.0223.0091.0082-.0004.0087-.0007.0092-.0057m.5873-.037c-.0009-.0124-.0057-.024-.0092-.0221-.001.0005-.0028.0039-.0039.0076-.0025.0078-.0003.0159.006.0227.0066.0071.0081.0054.0071-.0082m-.1443-.1159c-.0013-.0011-.005.0012-.005.0031 0 .0011.0011.0009.0029-.0003.0016-.0011.0025-.0024.002-.0028m.0075-.0085c-.0007-.0009-.0021-.0016-.0031-.0016-.0011 0-.0014.0007-.0007.0016.0007.0009.0021.0016.0031.0016.0011 0 .0014-.0007.0007-.0016m-.0221-.0135c0-.0027-.0041-.0042-.0112-.0042-.0064 0-.0108.0023-.0091.0046.002.0027.0203.0023.0203-.0005m.142-.005c0-.0013-.0013-.0024-.0029-.0024-.0016 0-.0029.0011-.0029.0024 0 .0013.0013.0024.0029.0024.0016 0 .0029-.0011.0029-.0024m-.4553-.059c.0019-.0081-.0203-.013-.0284-.0062-.0044.0037-.005.0074-.0014.0086.0013.0005.0084.0007.0158.0005.0108-.0002.0135-.0008.014-.003m.2029.6388c-.0016-.0033-.0035-.0092-.0042-.0132-.0011-.0067-.0014-.0071-.0044-.0048-.0051.0039-.0064.0029-.0049-.0035.0016-.0073.0085-.0189.0102-.0174.0012.001.0024.0059.0081.033.0023.0111-.0005.0146-.0048.0059m-.0278-.0394c0-.0062.0309-.0306.0367-.029.0024.0007-.0224.0236-.0311.0288-.0054.0032-.0056.0032-.0056.0002m-.0551-.0223c-.005-.0061-.0106-.0182-.0084-.0182.0022 0 .0077.0058.0125.0134.0027.0043.0032.0064.0017.0077-.0015.0013-.0031.0005-.0059-.0028m.0801-.0325c0-.0019.023-.0202.0283-.0226.0084-.0037.0042.0013-.0106.0125-.0144.011-.0178.0129-.0178.0101m-.0518-.0177c0-.0007.0034-.0053.0075-.0101.0104-.0122.0124-.0196.0108-.04-.0007-.0093-.0018-.0187-.0024-.0209l-.0011-.004.0048.0037c.0102.0078.0209.0331.0181.0426-.0026.0087-.0377.0356-.0377.0288m.0589-.0121c.0079-.0111.036-.0445.0374-.0445.0028 0-.0001.0094-.0058.0193-.0056.0097-.025.0274-.03.0274-.0021 0-.0026-.0007-.0016-.0022m.0277-.082c-.013-.0055-.0226-.0102-.0213-.0106.0099-.0028.0499.0121.0499.0186 0 .0035-.0037.0024-.0285-.0079m.2473-.0262c-.0027-.0027-.0249-.033-.0249-.034 0-.0003.0017-.0006.0037-.0006s.0041-.0006.0047-.0013c.0005-.0007-.0026-.0072-.007-.0144s-.0073-.0137-.0065-.0144c.002-.0017.0133.0096.0202.0204.014.0217.0216.0562.0098.0442m-.531-.0243c-.0021-.0047.0022-.0078.0121-.0086.0145-.0013.0288-.0089.0408-.0219.0057-.0061.0113-.0111.0125-.0111.004 0 .0035.0104-.0008.0179-.0053.0092-.0184.0167-.039.0223-.0176.0048-.0239.0051-.0256.0015m.2077-.047c.0056-.0079.0102-.0124.0115-.0112.0021.0017-.003.0107-.0075.0134-.0061.0036-.0075.0028-.004-.0022m.1309-.0093c-.0006-.0005-.0082-.003-.0169-.0055l-.0158-.0046.0075-.0026c.0161-.0057.0314-.0046.0388.0028.0036.0037-.0013.0108-.0075.0108-.0027 0-.0055-.0004-.0061-.0009m-.2616-.006c-.0015-.0034.0006-.0107.0031-.0107.0031 0 .003.0092-.0001.0119-.001.0009-.0022.0004-.0029-.0012m.0136-.0244c.0018-.0094.0046-.0127.0047-.0055 0 .0032-.0013.0071-.0029.0089-.0028.0029-.0029.0027-.0017-.0033m.0227-.032c.0088-.0067.0385-.0235.0415-.0235.004 0-.0001.0029-.0197.0141-.0246.014-.0322.0173-.0219.0094m.0991-.0086c0-.0015.0184-.0117.021-.0117.0041 0-.0008.0051-.0085.0089-.0082.004-.0126.005-.0125.0028m.0265-.0064c.0047-.0054.0157-.0143.0157-.0127 0 .0045-.0124.0171-.0168.0171-.002 0-.0017-.0011.0011-.0044m.0201-.0089c.0006-.002.0016-.0072.0024-.0117.0019-.0112.0036-.0136.0066-.0089.0041.0065-.0017.0242-.0079.0242-.0012 0-.0016-.0016-.0011-.0036m-.2117-.0218c0-.0027.0048-.0052.01-.0052.0059 0 .0075.0038.0023.0055-.0044.0014-.0123.0012-.0123-.0003m-.0427-.0069c-.009-.0044.0061-.0065.016-.0022.0031.0014.0057.0028.0057.0032 0 .0015-.0183.0006-.0216-.001m.0864-.0011c-.0051-.001-.004-.0036.0014-.0036.0026 0 .0048.0007.0048.0015 0 .0021-.0023.0029-.0062.0021m-.2203-.0101c-.0025-.0039-.001-.0064.0037-.0064.0054 0 .0088.0043.0059.0072-.0033.0034-.0072.003-.0096-.0008m.0989-.0016c.0007-.0009.0029-.0016.0049-.0016.002 0 .0037.0007.0037.0016 0 .0009-.0022.0016-.0049.0016-.0028 0-.0044-.0007-.0037-.0016m.0682-.0016c-.0039-.002-.0008-.0068.0041-.0062.0023.0003.0045.0014.0049.0024.001.0026-.0058.0054-.009.0038m.0403 0c-.0023-.0012-.0023-.0019-.0002-.004.0029-.0029.0108-.0034.0127-.0008.0025.0034-.0076.0073-.0125.0048m.0415-.0028c-.0022-.0019-.0014-.0038.0016-.0038.0016 0 .0029.0011.0029.0024 0 .0025-.0023.0032-.0045.0013m-.1141-.0043c-.0093-.0019-.0098-.0048-.0009-.0056.0071-.0006.0139.0021.0139.0054 0 .0026-.0011.0026-.013.0002m-.0542-.0027c.0011-.0018.0025-.0032.0029-.0032.0005 0 .0009.0014.0009.0032 0 .0018-.0013.0032-.0029.0032-.0024 0-.0025-.0006-.0009-.0032m.1562-.0008c-.0014-.0032.0026-.0072.0072-.0072.0025 0 .0036.0012.0036.0039 0 .0054-.0087.0081-.0108.0034m-.1323-.0058c-.0018-.0025.0021-.0053.0057-.0041.0017.0005.003.0021.003.0034 0 .0028-.0068.0034-.0087.0007m-.0124-.004c0-.0014.0009-.0021.0019-.0015.0011.0005.0019.0017.0019.0025 0 .0008-.0009.0015-.0019.0015-.0011 0-.0019-.0011-.0019-.0025m.0991-.002c-.0042-.0039-.004-.0063.0005-.0075.0046-.0012.0136.0006.0136.0027 0 .0016-.0076.0076-.0098.0077-.0006 0-.0026-.0013-.0043-.0029m-.1932-.0033c0-.0046.0047-.0072.0077-.0042.0019.0019.0019.0029 0 .0049-.0033.0034-.0077.003-.0077-.0006m.1663.0019c-.0007-.0006-.0013-.0023-.0013-.0039 0-.004.0058-.0054.0095-.0023.0027.0023.0027.0028-.0007.0049-.0041.0026-.0056.0028-.0075.0012m.1915-.0028c-.0044-.0027-.0021-.0056.0025-.0032.0036.0019.0055.0055.0029.0055-.0009 0-.0034-.001-.0054-.0023m-.2188-.0011c-.0019-.0025.0022-.0053.0059-.0041.0026.0008.0028.0015.0009.0034-.0028.0028-.005.003-.0068.0006m-.1017-.0016c-.0021-.0028.0044-.0074.0071-.0051.0017.0014.0016.0025-.0002.0044-.0029.0029-.0051.0032-.0069.0007m.0731-.0013c-.0013-.0017.0037-.0053.0054-.0039.0007.0006.0013.0016.0013.0022 0 .0018-.0055.0032-.0066.0016m.1168-.0036c-.0016-.0022.0043-.0062.0092-.0062.0046 0 .0044.0043-.0002.0064-.0048.0022-.0073.0021-.0089-.0002m.1336-.0022c-.0037-.0012-.0093-.0022-.0125-.0023-.0055-.0002-.0056-.0003-.002-.0025.002-.0013.0058-.0024.0083-.0024.0063 0 .0159.0044.0159.0073 0 .0028-.0008.0028-.0096-0m-.047-.0104c-.002-.0027.0102-.0067.0188-.0062.0085.0005.01.0031.0027.0047-.0101.0022-.0204.003-.0215.0015m.0931-.0394c-.0023-.0039-.0046-.0099-.0052-.0133-.0013-.0073-.0041-.0107-.0076-.0095-.0039.0012-.0032-.0046.0014-.0121.0047-.0078.0081-.0074.0099.0011.004.0189.0074.0341.0085.0373.0021.0063-.0026.0039-.0069-.0035m-.3282.0011c.0001-.0033.0126-.0181.0154-.0181.0024 0-.0023.0097-.0078.0162-.0045.0053-.0076.0061-.0076.0019m.1603-.0169c-.0016-.0041-.0073-.0231-.0082-.0274-.0013-.006.0012-.0056.0128.0021.009.006.0098.007.0098.0134 0 .0052-.0011.0078-.0044.0104-.005.0039-.0087.0045-.0099.0015m-.1388-.0248c-.0059-.005-.0066-.0062-.0038-.0067.0046-.0008.0197.0064.0197.0093 0 .005-.0086.0036-.0159-.0027m.276-.0053c0-.004.0175-.0171.026-.0195.0145-.004.0132-.0009-.0044.0109-.0096.0064-.0184.0117-.0195.0117-.0011 0-.0021-.0014-.0021-.0031m-.2457-.016c0-.0023.0088-.0083.0121-.0083.0052 0 .0037.0045-.0024.0072-.0063.0027-.0097.0031-.0097.0011m.1958-.0968c0-.0008.0008-.0019.0017-.0024.0025-.0013.008.0008.0068.0025-.0014.0019-.0085.0019-.0085-.0001m.286-.0466c0-.0018.0209-.0154.0222-.0143.0005.0004-.0034.0042-.0086.0083-.0091.0072-.0135.0091-.0135.0061m.1203-.0751c.001-.0022.0505-.0342.0645-.0418.0132-.0071.0056.0041-.0105.0155-.0128.0091-.0302.019-.0432.0245-.0117.005-.0123.0051-.0108.0017m.0429-.053c-.0039-.004-.001-.0066.0121-.011.0069-.0023.0252-.0091.0409-.015.0261-.0099.0296-.0109.0438-.0114.0186-.0008.0188-.0009-.0166.0141-.0224.0095-.0294.0117-.0475.0146-.0117.0019-.0212.0041-.0212.0048 0 .0007.0041.0017.0091.0023.0191.0022.0192.0037.0002.0039-.0142.0001-.019-.0004-.0208-.0023");
}

#back-to-home:before, #back-to-home:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    clip-path: url(#kangaroo-face);
}

#back-to-home:before {
    background-color: var(--text-color);
    border-radius: 0 0 50% 50%;  /* only show ears */
}

#back-to-home:after {
    border-radius: 50%;
    background-color: var(--main);
}

@media (max-width:31rem) {
    #title {
        visibility: hidden;
    }
    #title:before {
        content:attr(short_title);
        visibility: visible;
    }
}

#open-pane {
    position: absolute;
    top: calc(calc(var(--header-height) - calc(var(--header-height) / 2)) / 2);
    right: calc(calc(var(--header-height) - calc(var(--header-height) / 2)) / 2);
    width: calc(var(--header-height) / 2);
    height: calc(var(--header-height) / 2);
}

#open-pane:hover, #open-pane:focus {
    transform: rotateY(30deg);
}

.site-pane-a {
    color: var(--main-2) !important;
}

#site-pane {
    right: -70%;
    top: 0;
    z-index: 11;
    position: fixed;
    background-color: var(--secondary-bg);
    color: #fff;
    max-width: 70%;
    height: 100%;
    overflow-y: auto;

    transition: right 0.5s;
}

#site-pane[open],
    #site-pane:hover,
    #site-pane:focus-within,
    #open-pane:focus + #site-pane,
    #open-pane:hover + #site-pane {
    right: 0;
}

#site-pane h2 {
    margin: 0.625rem;
}

.menu-list {
    margin: 0.25rem;
    list-style-type: circle;
}

.menu-list li {
    display: inherit;
    margin-bottom: 0.25rem;
    color: var(--text-color)
}

.menu-sub-list {
    margin: 0.25rem;
    list-style-type: square;
}

.menu-sub-list li {
    display: inherit;
    margin-top: 0.1875rem;
    color: var(--text-color)
}

.contact-anchor {
    display: block;
    margin: 1.25rem;
    padding: 0.625rem;
    text-align: center;
    background-color: var(--contrast);
    color: var(--text-color)!important;
}

.contact-anchor:hover {
    transform: scale(1.05, 1.05);
}

#oekostrom {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.2rem 0;
}

#oekostrom img {
    height: auto;
    width: 8rem;
    max-width: 85%;
}
/* header end */
