/* OpenMoji CSS */
img.emoji {
    display: inline;

    /* stolen from Discord lol */
    width: 1.375em;
    height: 1.375em;
    object-fit: contain;
    vertical-align: bottom;
}

#open-moji-attribution {
    font-size: 0.69rem;
}

/* @font-face {  // the font is too bad for production use yet
    font-family: "OpenMojiColor";
    src: url("/static/fonts/OpenMoji-Color_14-0.woff?v=14.0") format("woff");
    font-style: Color;
    unicode-range: U+23,U+2A,U+30-39,U+A9,U+AE,U+200D,U+203C,U+2049,U+20E3,U+2117,U+2120,U+2122,U+2139,U+2194-2199,U+21A9,U+21AA,U+229C,U+231A,U+231B,U+2328,U+23CF,U+23E9-23F3,U+23F8-23FE,U+24C2,U+25A1,U+25AA-25AE,U+25B6,U+25C0,U+25C9,U+25D0,U+25D1,U+25E7-25EA,U+25ED,U+25EE,U+25FB-25FE,U+2600-2605,U+260E,U+2611,U+2614,U+2615,U+2618,U+261D,U+2620,U+2622,U+2623,U+2626,U+262A,U+262E,U+262F,U+2638-263A,U+2640,U+2642,U+2648-2653,U+265F,U+2660,U+2663,U+2665,U+2666,U+2668,U+267B,U+267E,U+267F,U+2691-2697,U+2699,U+269B,U+269C,U+26A0,U+26A1,U+26A7,U+26AA,U+26AB,U+26B0,U+26B1,U+26BD,U+26BE,U+26C4,U+26C5,U+26C8,U+26CE,U+26CF,U+26D1,U+26D3,U+26D4,U+26E9,U+26EA,U+26F0-26F5,U+26F7-26FA,U+26FD,U+2702,U+2705,U+2708-270D,U+270F,U+2712,U+2714,U+2716,U+271D,U+2721,U+2728,U+2733,U+2734,U+2744,U+2747,U+274C,U+274E,U+2753-2755,U+2757,U+2763,U+2764,U+2795-2797,U+27A1,U+27B0,U+27BF,U+2934,U+2935,U+2B05-2B07,U+2B0C,U+2B0D,U+2B1B,U+2B1C,U+2B1F-2B24,U+2B2E,U+2B2F,U+2B50,U+2B55,U+2B58,U+2B8F,U+2BBA-2BBC,U+2BC3,U+2BC4,U+2BEA,U+2BEB,U+3030,U+303D,U+3297,U+3299,U+E000-E009,U+E010,U+E011,U+E040-E04B,U+E050-E05D,U+E080-E0B4,U+E0C0-E0CA,U+E0FF-E10D,U+E140-E144,U+E146-E149,U+E150-E157,U+E181-E188,U+E1C0-E1C4,U+E1C6-E1D9,U+E200-E216,U+E240-E269,U+E280-E283,U+E2C0-E2C4,U+E2C6-E2DA,U+E300-E303,U+E305-E30F,U+E312-E316,U+E318-E322,U+E324-E329,U+E32B,U+E340-E348,U+E380,U+E381,U+F000,U+F8FF,U+FE0F,U+1F004,U+1F0CF,U+1F10D-1F10F,U+1F12F,U+1F16D-1F171,U+1F17E,U+1F17F,U+1F18E,U+1F191-1F19A,U+1F1E6-1F1FF,U+1F201,U+1F202,U+1F21A,U+1F22F,U+1F232-1F23A,U+1F250,U+1F251,U+1F300-1F321,U+1F324-1F393,U+1F396,U+1F397,U+1F399-1F39B,U+1F39E-1F3F0,U+1F3F3-1F3F5,U+1F3F7-1F4FD,U+1F4FF-1F53D,U+1F549-1F54E,U+1F550-1F567,U+1F56F,U+1F570,U+1F573-1F57A,U+1F587,U+1F58A-1F58D,U+1F590,U+1F595,U+1F596,U+1F5A4,U+1F5A5,U+1F5A8,U+1F5B1,U+1F5B2,U+1F5BC,U+1F5C2-1F5C4,U+1F5D1-1F5D3,U+1F5DC-1F5DE,U+1F5E1,U+1F5E3,U+1F5E8,U+1F5EF,U+1F5F3,U+1F5FA-1F64F,U+1F680-1F6C5,U+1F6CB-1F6D2,U+1F6D5-1F6D7,U+1F6DD-1F6E5,U+1F6E9,U+1F6EB,U+1F6EC,U+1F6F0,U+1F6F3-1F6FC,U+1F7E0-1F7EB,U+1F7F0,U+1F90C-1F93A,U+1F93C-1F945,U+1F947-1F9FF,U+1FA70-1FA74,U+1FA78-1FA7C,U+1FA80-1FA86,U+1FA90-1FAAC,U+1FAB0-1FABA,U+1FAC0-1FAC5,U+1FAD0-1FAD9,U+1FAE0-1FAE7,U+1FAF0-1FAF6,U+1FBC5-1FBC9,U+E0061-E0067,U+E006C,U+E006E,U+E0070-E0079,U+E007F;
} */

/* OpenMoji end */

/* util */
.mono-font {
    font-family: ui-monospace, monospace;
}

/* util end */

/* base */
:root {
    min-height: 100%;
    accent-color: var(--main);
    background: var(--bg);
    color: var(--text-color);
    font-family: ui-sans-serif, system-ui, sans-serif;
    overflow-x: hidden;

    /* other useful stuff: */
    --header-height: 4rem;

    /* TOOLTIP STUFF */

    /* offset moves tooltip to the center of the parent */
    --tp-offset: -0.15rem;

    /* make stuff easier for people that steal this CSS file */
    --tp-text-color: var(--text-color);
    --tp-border-color: var(--main-2);
    --tp-bg-color: var(--bg);
}

#skip-to-content {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 1rem;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--main);
    color: var(--text-color);
    font-weight: bold;
    transform: translateY(-3rem);
}

#skip-to-content:focus {
    top: var(--header-height);
    transform: translateY(0);
}

body {
    margin: 0;
}

main {
    display: flex;
    width: 96vw;
    max-width: calc(100% - 4vw);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* top, right, bottom, left */
    padding: 0.5rem 2vw 0;
}

/* .text is for version page */
main, .text, a {
    hyphens: auto;
    line-break: auto;
    white-space: normal;
}

.center-text {
    text-align: center;
}

a:not(.no-style-a, .no-style-a-block, .no-style-a-emoji) {
    color: var(--main)
}

.no-style-a, .no-style-a-block, .no-style-a-emoji {
    color: inherit;
    text-decoration: none;
}

.no-style-a-block {
    display: block;
}

.no-style-a:hover, .no-style-a-block:hover {
    text-decoration: underline;
}

.hidden {
    position: absolute;
    display: none;
    width: 0 !important;
    max-width: 0 !important;
    height: 0 !important;
    opacity: 0;
    pointer-events: none;
    visibility: collapse;
}

/* base end */


/* footer */
footer {
    width: 100vw;
    max-width: 100%;
    margin-top: 2.6rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

/* footer end */


/* header */
header {
    position: sticky;
    z-index: 2;
    top: 0;
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    height: var(--header-height);
    background-color: var(--main);
    color: #fff;
}

#title, #back-to-home {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
}

#title {
    left: calc(1rem + calc(var(--header-height) / 1.55));
    font-size: 2rem;
    white-space: nowrap;
}

#back-to-home {
    left: 0.5rem;
    width: calc(var(--header-height) / 1.55);
    height: calc(var(--header-height) / 1.55);
    border-width: 0;
    border-style: solid;
    border-radius: 50%;
}

#back-to-home img {
    width: 100%;
    height: 100%;
}

@media (width <=31rem) {
    #title {
        visibility: hidden;
    }

    #title::before {
        content:attr(short_title);
        visibility: visible;
    }
}

#open-pane {
    position: absolute;
    top: calc(calc(var(--header-height) - calc(var(--header-height) / 2)) / 2);
    right: calc(calc(var(--header-height) - calc(var(--header-height) / 2)) / 2);
    width: calc(var(--header-height) / 2);
    height: calc(var(--header-height) / 2);
}

#open-pane:hover, #open-pane:focus {
    transform: rotateY(30deg);
}

.site-pane-a {
    color: var(--main-2) !important;
}

#site-pane {
    position: fixed;
    z-index: 11;
    top: 0;
    right: -70%;
    max-width: 70%;
    height: 100vh;  /* fallback for browsers that do not support dvh */
    height: 100dvh;  /* See: https://caniuse.com/viewport-unit-variants */
    background-color: var(--secondary-bg);
    overflow-y: auto;
    transition: right 0.5s;
}

#site-pane[open],
    #site-pane:hover,
    #site-pane:focus-within,
    #open-pane:focus + #site-pane,
    #open-pane:hover + #site-pane {
    right: 0;
}

#site-pane h2 {
    margin: 0.625rem;
}

#site-pane ul {
    padding-right: 0.25em;
}

.list {
    padding-left: 1em;
    list-style-type: none;
}

.sub-list {
    padding-left: 2rem;
    list-style-type: none;
}

.list li, .sub-list li {
    display: block;
}

.list li::before, .sub-list li::before {
    display: inline-block;
    margin-right: 0.2rem;
    margin-bottom: 0.1em;
    content: "\2022";
}

.sub-list li::before {
    position: relative;
    content: "\25AA";
    font-size: 0.6rem;
}

.contact-anchor {
    display: block;
    padding: 0.625rem;
    margin: 1.25rem;
    background-color: var(--contrast);
    color: var(--text-color)!important;
    text-align: center;
}

.contact-anchor:hover {
    transform: scale(1.05, 1.05);
}

#oekostrom {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.2rem 0;
}

#oekostrom img {
    width: 8rem;
    max-width: 85%;
    height: auto;
}

/* header end */

/* TOOLTIP START */
[tooltip] {
    position: relative;
}

[tooltip]::before, [tooltip]::after {
    position: absolute;
    z-index: 1000000000;  /* on top of everything */
    display: none;
    font-size: 1rem;  /* reset font size, so it doesn't depend on parent */
    opacity: 0;
    pointer-events: none;  /* ignore hover over tooltip so it disappears when leaving parent */
    visibility: hidden;
}

/* the tooltip */
[tooltip]::after {
    width: max-content;
    max-width: max(100%, 8.8rem);
    padding: 0.4rem;
    border-width: thin;
    border-style: solid;
    border-color: var(--tp-border-color);
    border-radius: 0.4rem;
    background-color: var(--tp-bg-color);
    color: var(--tp-text-color);
    content: attr(tooltip);
    hyphens: initial;
    letter-spacing: normal;
    opacity: 1;
    text-align: center;
    white-space: pre-line;
}

/* the triangle that points from tooltip to parent */
[tooltip]::before {
    border-width: 0.3125rem;
    border-style: solid;
    border-color: transparent;
    content: " ";
}

[tooltip]:hover::after,
[tooltip]:hover::before,
[tooltip]:focus::after,
[tooltip]:focus::before,
[tooltip].show-tooltip::after,
[tooltip].show-tooltip::before {
    /* make tooltip and triangle visible */
    display: inherit;
    opacity: 1;
    transition: all 0.05s ease 0.1s;
    visibility: visible;
}

/* top tooltip after and before */
[tooltip][tooltip-position="top"]::after,
[tooltip][tooltip-position="top"]::before,
/* no tooltip-position defaults to top */
[tooltip]:not([tooltip-position])::after,
[tooltip]:not([tooltip-position])::before,
/* bottom tooltip after and before */
[tooltip][tooltip-position="bottom"]::after,
[tooltip][tooltip-position="bottom"]::before {
    /* if position top or bottom center tooltip horizontally */
    left: 50%;
    transform: translateX(-50%);
}

/* left tooltip after and before */
[tooltip][tooltip-position="left"]::after,
[tooltip][tooltip-position="left"]::before,
/* right tooltip after and before  */
[tooltip][tooltip-position="right"]::after,
[tooltip][tooltip-position="right"]::before {
    /* if position left or right center tooltip vertically */
    top: 50%;
    transform: translateY(-50%);
}

[tooltip][tooltip-position="top"]::after,
/* no tooltip-position defaults to top */
[tooltip]:not([tooltip-position])::after {
    /* if position top move the tooltip above the parent */
    bottom: calc(100% - var(--tp-offset));
}

[tooltip][tooltip-position="bottom"]::after {
    /* if position bottom move the tooltip below the parent */
    top: calc(100% - var(--tp-offset));
}

[tooltip][tooltip-position="left"]::after {
    /* if position left move the tooltip left of the parent */
    right: calc(100% - var(--tp-offset));
}

[tooltip][tooltip-position="right"]::after {
    /* if position right move the tooltip right of the parent */
    left: calc(100% - var(--tp-offset));
}

[tooltip][tooltip-position="top"]::before,
/* no tooltip-position defaults to top */
[tooltip]:not([tooltip-position])::before {
    /* position top */
    top: var(--tp-offset);
    border-top-color: var(--tp-border-color);
}

[tooltip][tooltip-position="bottom"]::before {
    /* position bottom */
    bottom: var(--tp-offset);
    border-bottom-color: var(--tp-border-color);
}

[tooltip][tooltip-position="left"]::before {
    /* position left */
    left: var(--tp-offset);
    border-left-color: var(--tp-border-color);
}

[tooltip][tooltip-position="right"]::before {
    /* position right */
    right: var(--tp-offset);
    border-right-color: var(--tp-border-color);
}

/* TOOLTIP END */
