/* OpenMoji CSS */
img.emoji {
    display: inline;

    /* stolen from Discord lol */
    width: 1.375em;
    height: 1.375em;
    object-fit: contain;
    vertical-align: bottom;
}

.openmoji {
    font-family: OpenMojiColor, ui-sans-serif, system-ui, sans-serif;
}

/* OpenMoji end */

/* util */
.mono-font {
    font-family: ui-monospace, monospace;
}

/* util end */

/* base */
:root {
    min-height: 100%;
    accent-color: var(--main);
    background: var(--bg);
    color: var(--text-color);
    font-family: ui-sans-serif, system-ui, sans-serif;
    overflow-x: hidden;

    /* other useful stuff: */
    --header-height: 4rem;

    /* TOOLTIP STUFF */

    /* offset moves tooltip to the center of the parent */
    --tp-offset: -0.15rem;

    /* make stuff easier for people that steal this CSS file */
    --tp-text-color: var(--text-color);
    --tp-border-color: var(--main-2);
    --tp-bg-color: var(--bg);
}

#skip-to-content {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 1rem;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--main);
    color: var(--text-color);
    font-weight: bold;
    transform: translateY(-3rem);
}

#skip-to-content:focus {
    top: var(--header-height);
    transform: translateY(0);
}

body {
    margin: 0;
}

main {
    display: flex;
    width: 96vw;
    max-width: calc(100% - 4vw);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* top, right, bottom, left */
    padding: 0.5rem 2vw 0;
}

/* .text is for version page */
main,
.text,
a {
    hyphens: auto;
    line-break: auto;
    white-space: normal;
}

.center-text {
    text-align: center;
}

a:not(.no-style-a, .no-style-a-block, .no-style-a-emoji) {
    color: var(--main);
}

.no-style-a,
.no-style-a-block,
.no-style-a-emoji {
    color: inherit;
    text-decoration: none;
}

.no-style-a-block {
    display: block;
}

.no-style-a:hover,
.no-style-a-block:hover {
    text-decoration: underline;
}

.hidden {
    position: absolute;
    display: none;
    width: 0 !important;
    max-width: 0 !important;
    height: 0 !important;
    opacity: 0;
    pointer-events: none;
    visibility: collapse;
}

/* base end */

/* footer */
footer {
    width: 100vw;
    max-width: 100%;
    margin-top: 2.6rem;
    padding-bottom: 0.7rem;
    text-align: center;
}

#ai-policy {
    font-size: 0.5rem;
    margin-top: 1.2rem;
}

#openmoji-attribution {
    font-size: 0.69rem;
    margin-top: 1.2rem;
}

/* footer end */

/* header */
header {
    position: sticky;
    z-index: 2;
    top: 0;
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    height: var(--header-height);
    background-color: var(--main);
    color: #fff;
}

#title,
#back-to-home {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
}

#title {
    left: calc(1rem + calc(var(--header-height) / 1.55));
    font-size: 2rem;
    white-space: nowrap;
}

#back-to-home {
    left: 0.5rem;
    width: calc(var(--header-height) / 1.55);
    height: calc(var(--header-height) / 1.55);
    border-width: 0;
    border-style: solid;
    border-radius: 50%;
}

#back-to-home img {
    width: 100%;
    height: 100%;
}

@media (width <=31rem) {
    #title {
        visibility: hidden;
    }

    #title::before {
        content: attr(short_title);
        visibility: visible;
    }
}

#open-pane {
    position: absolute;
    top: calc(calc(var(--header-height) - calc(var(--header-height) / 2)) / 2);
    right: calc(
        calc(var(--header-height) - calc(var(--header-height) / 2)) / 2
    );
    width: calc(var(--header-height) / 2);
    height: calc(var(--header-height) / 2);
}

#open-pane:hover,
#open-pane:focus {
    transform: rotateY(30deg);
}

.site-pane-a {
    color: var(--main-2) !important;
}

#site-pane {
    position: fixed;
    z-index: 11;
    top: 0;
    right: -70%;
    max-width: 70%;
    height: 100vh; /* fallback for browsers that do not support dvh */
    height: 100dvh; /* See: https://caniuse.com/viewport-unit-variants */
    background-color: var(--secondary-bg);
    overflow-y: auto;
    transition: right 0.5s;
}

#site-pane[state="open"],
#site-pane:hover,
#site-pane:focus-within,
#open-pane:focus + #site-pane,
#open-pane:hover + #site-pane {
    right: 0;
}

#site-pane h2 {
    margin: 0.625rem;
}

#site-pane ul {
    padding-right: 0.25em;
}

.list {
    padding-left: 1em;
    list-style-type: none;
}

.sub-list {
    padding-left: 2rem;
    list-style-type: none;
}

.list li,
.sub-list li {
    display: block;
}

.list li::before,
.sub-list li::before {
    display: inline-block;
    margin-right: 0.2rem;
    margin-bottom: 0.1em;
    content: "\2022";
}

.sub-list li::before {
    position: relative;
    content: "\25AA";
    font-size: 0.6rem;
}

.contact-anchor {
    display: block;
    padding: 0.625rem;
    margin: 1.25rem;
    background-color: var(--contrast);
    color: var(--text-color) !important;
    text-align: center;
}

.contact-anchor:hover {
    transform: scale(1.05, 1.05);
}

#oekostrom {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.2rem 0;
}

#oekostrom img {
    width: 8rem;
    max-width: 85%;
    height: auto;
}

/* header end */

/* TOOLTIP START */
[tooltip] {
    position: relative;
}

[tooltip]::before,
[tooltip]::after {
    position: absolute;
    z-index: 1000000000; /* on top of everything */
    display: none;
    font-size: 1rem; /* reset font size, so it doesn't depend on parent */
    opacity: 0;
    pointer-events: none; /* ignore hover over tooltip so it disappears when leaving parent */
    visibility: hidden;
}

/* the tooltip */
[tooltip]::after {
    width: max-content;
    max-width: max(100%, 8.8rem);
    padding: 0.4rem;
    border-width: thin;
    border-style: solid;
    border-color: var(--tp-border-color);
    border-radius: 0.4rem;
    background-color: var(--tp-bg-color);
    color: var(--tp-text-color);
    content: attr(tooltip);
    font-family: ui-sans-serif, system-ui, sans-serif;
    hyphens: initial;
    letter-spacing: normal;
    opacity: 1;
    text-align: center;
    white-space: pre-line;
}

/* the triangle that points from tooltip to parent */
[tooltip]::before {
    border-width: 0.3125rem;
    border-style: solid;
    border-color: transparent;
    content: " ";
}

[tooltip]:hover::after,
[tooltip]:hover::before,
[tooltip]:focus::after,
[tooltip]:focus::before,
[tooltip].show-tooltip::after,
[tooltip].show-tooltip::before {
    /* make tooltip and triangle visible */
    display: inherit;
    opacity: 1;
    transition: all 0.05s ease 0.1s;
    visibility: visible;
}

/* top tooltip after and before */
[tooltip][tooltip-position="top"]::after,
[tooltip][tooltip-position="top"]::before,
/* no tooltip-position defaults to top */
[tooltip]:not([tooltip-position])::after,
[tooltip]:not([tooltip-position])::before,
/* bottom tooltip after and before */
[tooltip][tooltip-position="bottom"]::after,
[tooltip][tooltip-position="bottom"]::before {
    /* if position top or bottom center tooltip horizontally */
    left: 50%;
    transform: translateX(-50%);
}

/* left tooltip after and before */
[tooltip][tooltip-position="left"]::after,
[tooltip][tooltip-position="left"]::before,
/* right tooltip after and before  */
[tooltip][tooltip-position="right"]::after,
[tooltip][tooltip-position="right"]::before {
    /* if position left or right center tooltip vertically */
    top: 50%;
    transform: translateY(-50%);
}

[tooltip][tooltip-position="top"]::after,
/* no tooltip-position defaults to top */
[tooltip]:not([tooltip-position])::after {
    /* if position top move the tooltip above the parent */
    bottom: calc(100% - var(--tp-offset));
}

[tooltip][tooltip-position="bottom"]::after {
    /* if position bottom move the tooltip below the parent */
    top: calc(100% - var(--tp-offset));
}

[tooltip][tooltip-position="left"]::after {
    /* if position left move the tooltip left of the parent */
    right: calc(100% - var(--tp-offset));
}

[tooltip][tooltip-position="right"]::after {
    /* if position right move the tooltip right of the parent */
    left: calc(100% - var(--tp-offset));
}

[tooltip][tooltip-position="top"]::before,
/* no tooltip-position defaults to top */
[tooltip]:not([tooltip-position])::before {
    /* position top */
    top: var(--tp-offset);
    border-top-color: var(--tp-border-color);
}

[tooltip][tooltip-position="bottom"]::before {
    /* position bottom */
    bottom: var(--tp-offset);
    border-bottom-color: var(--tp-border-color);
}

[tooltip][tooltip-position="left"]::before {
    /* position left */
    left: var(--tp-offset);
    border-left-color: var(--tp-border-color);
}

[tooltip][tooltip-position="right"]::before {
    /* position right */
    right: var(--tp-offset);
    border-right-color: var(--tp-border-color);
}

/* TOOLTIP END */
