@font-face {
    font-family: "comic";
    font-style: normal;
    /* https://www.wfonts.com/font/comic-sans-ms */
    src: url("/static/fonts/comic.woff2?v=0") format("woff2");
}

* {
    font-family: "comic", "Comic Sans MS", serif;
}

@font-face {
    font-family: "comic-mono";
    font-style: normal;
    /* font stolen from: https://dtinth.github.io/comic-mono-font/ */
    src: url("/static/fonts/ComicMono.woff2?v=0") format("woff2");
}

pre *, .pre * {
    font-family: "comic-mono", monospace, monospace;
}
