.comic-header {
  color: var(--text-color);
  text-decoration: none;
}

input {
  width: 100%;
  font-size: 1.44rem;
}

.normal-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 90%;
  height: auto;
}

#current-img {
  width: 100%;
  max-height: 80%;
}

#old-comics-list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  max-width: 58%;
}

.popup-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0 auto;
  max-height: 80%;
  overflow: auto;
  width: 100%;
}

.popup-img {
  max-width: 100%;
  max-height: 100%;
}

.close-button {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  width: 2.625rem;
}
