.button-img:hover {
    transform: scale(1.08);
    filter: drop-shadow(3px 3px 2px rgba(139, 0, 0, 0.5));
}

.report-img:hover {
    filter: drop-shadow(3px 3px 2px rgba(217, 229, 78, 0.5));
}

.button-img {
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
}

#quote-container {
    background: transparent;
    height: auto;
    display: block;
    /*margin: 3rem auto;*/
    text-align: center;
    padding: 4rem;
}

#top {
    background-color: transparent;
}

.quote-text {
    font-size: 1.9rem;
    text-align: left;
    line-height: 1.8rem;
}

.quote-author {
    font-size: 1.4rem;
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#rating-container {
    font-size: 1.4rem;
    text-align: left;
    align-items: start;
}

#rating-container .flex {
    display: flex;
    flex-flow: row;
}

#rating-text {
    display: block;
    margin-right: 0.3rem;
}

.rating-img {
    display: inline-block;
}

.nicht-witzig {
    bottom: 0.008rem;
}

.nicht-witzig::after {
    content: url(/static/img/StempelNichtWitzigKlein.svg?v=0);
}

.witzig::after {
    content: url(/static/img/StempelWitzigKlein.svg?v=0);
}

.invisible {
    height: 0;
    width: 0;
    display: none;
    opacity: 0;
}

#bottom-buttons-container {
    display: flex;
    justify-content: left;
}

.rating-form-el {
    display: inline-block;
    width: auto !important;
}

#add-quote, #report {
    margin-right: 0.69rem;
}

#buttons a {
    color: darkred;
    position: relative;
    display: inline-block;
}

.download-img {
    transform: rotate(90deg);
    rotation: 90deg;
}

.download-img:hover {
    transform: scale(1.08) rotate(90deg);
    -webkit-filter: drop-shadow(3px -3px 2px rgba(139, 0, 0, 0.5));
}

#vote-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    min-width: 69%;
}

.vote {
    width: auto !important;
    flex-grow: 1;
    display: inline-block;
    padding: 0.625rem !important;
    margin: 0.3125rem;
    height: 3.75rem;
    max-width: initial;
}

.vote:hover:not([voted]) {
    background-color: var(--tertiary-bg) !important;
}

.vote[voted] {
    filter: grayscale(69%);
}

.vote img {
    max-height: 2.5rem;
    width: auto;
    background-color: transparent !important;
}

@media (orientation:landscape) {
    #quote-container {
        background: transparent url("/static/img/KangarooFace.svg?v=0") no-repeat right top 0.3125rem;
        /*background-position: right 10px top 0.3125rem;*/
        width: 50rem;
        min-height: 23.75rem;
        max-width: 90%;
        display: block;
        margin: 1rem auto;
        text-align: center;
        padding: 0 2rem 2rem;
        position: relative;
        z-index: 1;
    }

    .quote-text {
        width: 32rem;
    }

    .quote-author {
        margin-right: 18rem;
    }

    #buttons {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #rating-container {
        position: absolute;
        bottom: 1.25rem;
    }
}
