.quote-a {
    color: var(--secondary-text-color) !important;
}

input {
    margin-bottom: 5px;
}

.marked {
    display: inline !important;
    color: var(--contrast-2);
}

h1:hover .header-id-link:before,
  h1:focus-within .header-id-link:before,
  h2:hover .header-id-link:before,
  h2:focus-within .header-id-link:before {
    content: "🔗";
}
