.quote-a {
    color: var(--secondary-text-color) !important;
}

h1:hover .header-id-link:before,
  h1:focus-within .header-id-link:before,
  h2:hover .header-id-link:before,
  h2:focus-within .header-id-link:before {
    content: "🔗";
}

#soundboard-rss {
    position: fixed;
    top: calc(var(--header-height) + 0.9rem);
    right: 0.9rem;
    z-index: 0;
}

#soundboard-rss img {
    width: 1.7rem;
    height: 1.7rem;
}

/* for search */
input {
    margin-bottom: 0.3125rem;
}

.marked {
    display: inline !important;
    color: var(--contrast-2);
}
/* for search end */
