main {
    font-size: 2rem;
    text-align: center;
}

@font-face { /* used in js */
    font-family: clock-face;
    font-style: normal;

    /*! See: /static/fonts/NOTICE.txt */
    src: url("/static/fonts/cursedtimerulil-aznm.woff2?v=0") format("woff2");
}

#uptime {
    font-style: normal;
}
