#body {
    font-size: 2rem;
    text-align: center;
}

@font-face { /* used in js */
    font-family: "clock-face";
    font-style: normal;
    /*
        Font is stolen from: https://www.fontspace.com/cursed-timer-ulil-font-f29411
        ?v=0 means, that it gets cached forever. If we changed the file, we have
        to change the v query parameter as well.
    */
    src: url("/static/fonts/CursedTimerUlil-Aznm.woff2?v=0") format("woff2");
}

#uptime {
    font-style: normal;
    font-family: monospace;
}
