{% extends "../../base.html" %}

{% block body %}
<div id="quote-important" class="quote-container">
    <div id="top">
        <a href="{{fix_url(f'/zitate/info/q/{wrong_quote.quote.id}')}}"
           class="no-style-a quote-text">»{{wrong_quote.quote}}«</a>
        <a href="{{fix_url(f'/zitate/info/a/{wrong_quote.author.id}')}}"
           class="no-style-a quote-author">- {{wrong_quote.author}}</a>
    </div>
    <div class="rating-container">
        <div class="quote-rating">
            {% if wrong_quote.id == -1 or wrong_quote.id is None %}
            <div class="rating-text">---</div>
            {% else %}
            <table>
                <tr>
                    <th><div class="rating-text">{{wrong_quote.rating}}</div></th>
                    {% if int(wrong_quote.rating) < 0 %}
                    <th>
                        <img class="rating-image nicht-witzig" src="/static/img/StempelNichtWitzig.svg" alt="Nicht-Witzig-Stempel"/>
                    </th>
                    {% else %}
                    <th>
                        <img class="rating-image witzig" src="/static/img/StempelWitzig.svg" alt=">Witzig-Stempel"/>
                    </th>
                    {% end %}
                </tr>
            </table>
            {% end %}
        </div>
    </div>
        <div id="bottom">
        <div class="quote-id">{{ wrong_quote.get_id_as_str() }}</div>
        <div class="buttons" data-html2canvas-ignore="true">
            <a class="download tooltip"
               href="/zitate/{{ wrong_quote.get_id_as_str() }}/image.png"
               download="zitat-{{ wrong_quote.get_id_as_str() }}.png"
            >
                <img class="download-img button-img" src="/static/img/arrow.svg" alt="Zitat downloaden.">
                <div class="tooltip-top-text tooltip-text">Downloade das Zitat als Bild.</div>
            </a>
            <a class="tweet tooltip"
               href="https://twitter.com/intent/tweet?text={{url_escape(str(wrong_quote) + '\n\nGeneriert mit: ' + url) }}"
            >
                <img class="tweet-img button-img" src="/static/img/arrow.svg" alt="Zitat teilen.">
                <div class="tooltip-top-text  tooltip-text">Teile das Zitat auf Twitter.</div>
            </a>
            <a class="get-quote tooltip" id="next" href="{{next_href}}">
                <img class="get-quote-img button-img button-img-no-rotation" alt="Nächstes Zitat" src="/static/img/arrow.svg">
                <div class="tooltip-top-text  tooltip-text">Gehe zum nächsten Zitat.</div>
            </a>
        </div>
    </div>
</div>
<!--TODO: Make this prettier:-->
<div class="vote-container">
    <form method="post">
        {% raw form_appendix %}
        <input name="r" class="hidden-input" value="{{rating_filter}}">
        <button type="submit"
                id="upvote"
                class="vote {% if vote == 1 %} voted {% end %}"
                name="vote"
                value={% if vote == 1 %}"0"{% else %}"1"{% end %}
        >
            <img src="/static/img/StempelWitzig.svg" alt="WITZIG!">
        </button>
        <button type="submit"
                id="downvote"
                class="vote {% if vote == -1 %} voted {% end %}"
                name="vote"
                value={% if vote == -1 %}"0"{% else %}"-1"{% end %}
        >
            <img src="/static/img/StempelNichtWitzig.svg" alt="NICHT WITZIG!">
        </button>
    </form>
    <a class="tooltip" href="{{fix_url('/zitate/erstellen/')}}">
        <img class="button-img plus-img button-img-no-rotation" src="/static/img/plus.svg" alt="Zitat hinzufügen.">
        <div class="tooltip-top-text tooltip-text">Füge neues Zitat hinzu.</div>
    </a>
    {% if settings["CONTACT_EMAIL"] is not None %}
    <a class="report tooltip"
       href="mailto:{{settings['CONTACT_EMAIL']}}?subject=Das falsche Zitat mit der Id {{wrong_quote.get_id_as_str()}} hat ein Problem&body={{str(wrong_quote) + '\n'}}"
    >
        <img class="button-img report-img button-img-no-rotation" alt="Zitat melden." src="/static/img/report.svg">
        <div class="tooltip-top-text tooltip-text">Melde das Zitat.</div>
    </a>
    {% end %}
</div>
<form method="get" class="voting-container">
    {% raw form_appendix %}
    <select name="r" class="rating-form-el" onchange="this.form.submit()">
        <option value="smart" {% if rating_filter=="smart"%}selected{%end%}>Smart</option>
        <option value="w" {% if rating_filter=="w"%}selected{%end%}>Witzig</option>
        <option value="n" {% if rating_filter=="n"%}selected{%end%}>Nicht witzig</option>
        <option value="rated" {% if rating_filter=="rated"%}selected{%end%}>Bewertet</option>
        <option value="unrated" {% if rating_filter=="unrated"%}selected{%end%}>Unbewertet</option>
        <option value="all" {% if rating_filter=="all"%}selected{%end%}>Alle</option>
    </select>
    <noscript>
        <button type="submit" class="rating-form-el">Submit</button>
    </noscript>
</form>

<script src="/static/js/quote.js"></script>
{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/style/form.css">
    <link rel="stylesheet" type="text/css" href="/static/style/quote.css">
{% end %}
