{% extends "../base.html" %}

{% block title %}Version der Webseite{% end %}

{% block description %}{{ version }}{% end %}

{% block body %}
    <p style="white-space: pre-line;">
        Version: <a href="https://github.com/asozialesnetzwerk/an-website/commit/{{ version }}">{{ version }}</a>
        File-Hashes:
        {{ file_hashes }}
        Hash der File-Hashes:
        {{ hash_of_file_hashes }}
        <a href="https://github.com/asozialesnetzwerk/an-website/blob/{{ gh_pages_commit_hash }}/version.txt">Hashes der aktuellen Version.</a>
        <a href="https://asozialesnetzwerk.github.io/an-website/version.txt">Hashes der neusten Version.</a>
    </p>
{% end %}