{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
<div class="redirect_content">
    Willst du wirklich {{redirect_url.split("?")[0]}} öffnen? Für die Inhalte auf
    fremden Seiten können wir keine Garantie bieten. Weitergehen ist auf eigene Gefahr.
    <a class="leave form-button no-style-a" href="{{redirect_url}}">
        Ja, ich bin mir sicher
    </a>
    <a class="stay form-button no-style-a" href="{{from_url}}">
        Nein, ich möchte wieder zurück
    </a>
</div>
{% end %}


{% block head %}
<meta name="robots" content="noindex">
<link rel="stylesheet" type="text/css" href="/static/style/form.css">
<link rel="stylesheet" type="text/css" href="/static/style/redirect.css">
{% end %}
