{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
    <form method="post">
        <label>Name<input type="text" name="name"></label>

        <label>E-Mail-Adresse<input type="email" name="address"></label>

        <label>
            Betreff
            {% if subject %}
            <input type="text" name="subject" value="{{subject}}">
            {% else %}
            <input type="text" name="subject">
            {% end %}
        </label>

        <label>
            Nachricht (erforderlich)
            <textarea name="message"></textarea>
        </label>

        <button type="submit">Absenden</button>
    </form>
{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{fix_static('style/form.css')}}">
{% end %}
