{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
<body>

<form action="{{url}}" method="get" id="form">
    <label class="form-element">
        Euro:
        <input pattern="^\d*([.,]\d*)?$"
               type="text"
               id="euro"
               name="euro"
               placeholder="{{ euro_str }}">
    </label>

    <label class="form-element">
        D-Mark:
        <input pattern="^\d*([.,]\d*)?$"
               type="text"
               id="mark"
               name="mark"
               placeholder="{{ mark_str }}">
    </label>

    <label class="form-element">
        Ostmark:
        <input pattern="^\d*([.,]\d*)?$"
               type="text"
               id="ost"
               name="ost"
               placeholder="{{ ost_str }}">
    </label>

    <label class="form-element">
        Ostmark auf dem Schwarzmarkt:
        <input pattern="^\d*([.,]\d*)?$"
               type="text"
               id="schwarz"
               name="schwarz"
               placeholder="{{ schwarz_str }}">
    </label>


{% raw form_appendix %}

    <input type="submit" id="submit" value="Eingabe!">
</form>
<br>

<div class="container" id="container">
    <label for="output" class="output float-left">Als Text:</label>
    <input type="text" readonly class="output output-text float-left" value="{{ text }}" id="output">
</div>

{% include "../util/replace_url_with.html" %}
{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/style/form.css">
    <script defer src="/static/js/converter.js"></script>
{% end %}
