{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
    {% for name, msg in messages %}
<div>
    {% for emoji in name %}{% raw emoji2html(emoji) %}{% end %}:
    {% for emoji in msg %}{% raw emoji2html(emoji) %}{% end %}
</div>
    {% end %}

    <form method="post">
        Du bist: {% for emoji in user_name %}{% raw emoji2html(emoji) %}{% end %}
        <input type="text" name="message">
        <button type="submit">Senden!</button>
    </form>
{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{fix_static('style/form.css')}}">
{% end %}
