{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
    {% for ep in endpoints %}
<h2 id="{{name_to_id(ep['name'])}}">
    <a href="#{{name_to_id(ep['name'])}}" rel="noreferrer" class="header-id-link"></a>{{ep["name"]}}
</h2>
<p>{{ep["description"]}}</p>
<table>
  <tr>
    <th>Pfad</th>
    <th>Methoden</th>
  </tr>
{% for path in ep["endpoints"] %}
  <tr>
      <td>{{path["path"]}}</td>
      <td>{{", ".join(path["methods"])}}</td>
  </tr>
{% end %}
</table>
    {% end %}
<style>
    th{text-align: left}
    h2:hover .header-id-link:before, h2:focus-within .header-id-link:before {
        content: "🔗";
    }
</style>
{% end %}
