{% extends "../base.html" %}

{% block title %}Hangman-Solver{% end %}

{% block description %}Eine Webseite, die dir bei Hangman hilft.{% end %}

{% block body %}
<form>
    <label class="text-input-label no-select" for="input">Eingabe (Nutze "_" für nicht bekannte Buchstaben):</label>
    <br>
    <input class="text-input" id="input" name="input" value="{{ input }}">

    <br>

    <label class="text-input-label no-select" for="invalid">Falsche Buchstaben:</label>
    <br>
    <input class="text-input" id="invalid" name="invalid"  value="{{ invalid }}">

    <br><br>

    <div class="tooltip no-select">
        <label class="cbl float-left no-select" for="crossword-mode">
            Kreuzworträtselmodus:
        </label>
        <span class="tooltip-text no-select">Die Buchstaben im Eingabefeld können auch an anderen Stellen erneut auftauchen.</span>
    </div>
    <input type="checkbox" class="cb no-select" id="crossword-mode" name="crossword_mode" {% if crossword_mode %} checked {% end %}>
    <span class="checkmark no-select"></span>
    
    <br>
    <div class="tooltip no-select">
        <label class="cbl float-left no-select" for="max_words">
            Maximale Wortanzahl:
        </label>
        <span class="tooltip-text no-select">Wie viele Wörter maximal angezeigt werden dürfen.</span>
    </div>
    <input class="small-input no-select" type="number" id="max_words" name="max_words" value="{{max_words}}">

    <br>
    <label for="lang">Sprache der Wörter:</label>
    <select class="small-input" name="lang" id="lang" selected="{{lang}}">
        <option value="de_only_a-z">Deutsch ohne Umlaute</option>
        <option value="de">Deutsch</option>
        <option value="en">Englisch</option>
    </select>


    <div class="tooltip no-select button-container">
        <input type="submit" class="no-select button button-blue" id="submit" value="Eingabe"/>
        <span class="tooltip-text no-select">Aktualisiere die Eingabe.</span>
    </div>
</form>

<br><br><br><br>

<div class="output">
    {% if letters %}
        Mögliche Buchstaben:
        {% for letter in letters %}
            {{ letter }}: {{ letters[letter]}},
        {% end %}
    {% else %}
        Nichts gefunden.
    {% end %}
</div>
<br><br>

{% if len(words) > 0 %}
{{min(word_count, max_words)}}/{{word_count}} passenden Wörter:

    <ul class="output">
        {% for word in words %}
            <li>{{ word }}</li>
        {% end %}
    </ul>
{% end %}

{% end %}

{% block style %}
    {% include "../styles/hangman_solver.css" %}
{% end %}
