{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
    <form>
        <label class="form-element">
            Eingabe (Nutze "_" für nicht bekannte Buchstaben)
            <input type="text"
                   name="input"
                   value="{{input}}">
        </label>

        <label class="form-element">
            Falsche Buchstaben
            <input type="text"
                   name="invalid"
                   value="{{invalid}}">
        </label>

        <div class="form-element">
            <label tooltip="Die Buchstaben im Eingabefeld können auch an anderen Stellen erneut auftauchen."
                   tooltip-position="right">Kreuzworträtselmodus
                <input type="checkbox"
                   id="crossword-mode"
                   {% if crossword_mode %} checked {% end %}
                   name="crossword_mode">
            </label>
        </div>

        <div class="form-element">
            <label tooltip="Wie viele Wörter maximal angezeigt werden dürfen."
                   tooltip-position="right">Maximale Wortanzahl
                <input type="number"
                   id="max_words"
                   name="max_words"
                   min="0"
                   max="100"
                   step="1"
                   value="{{max_words}}">
            </label>
        </div>

        <label class="form-element">
            Sprache der Wörter
            <select name="lang">
                <option {% if lang == "de_only_a-z" %}selected{% end %}
                    value="de_only_a-z">Deutsch ohne Umlaute</option>
                <option {% if lang == "de" %}selected{% end %}
                    value="de">Deutsch</option>
                <option {% if lang == "de_basic_only_a-z" %}selected{% end %}
                    value="de_basic_only_a-z">Deutsch (Grundformen) ohne Umlaute</option>
                <option {% if lang == "de_basic" %}selected{% end %}
                    value="de_basic">Deutsch (Grundformen)</option>
                <option {% if lang == "en" %}selected{% end %}
                    value="en">Englisch</option>
            </select>
        </label>

        {% raw form_appendix %}

        <input type="submit"
               id="submit"
               value="Eingabe">
    </form>

    <div>
        {% if letters %}
            Mögliche Buchstaben:
            {% for letter in letters %}
                {{ letter }}: {{ letters[letter]}},
            {% end %}
        {% else %}Nichts gefunden.{% end %}
    </div>

    {% if word_count > 0 %}
        {{min(word_count, max_words)}}/{{word_count}} passenden Wörter:
        <ul>{% for word in words %}<li>{{word}}</li>{% end %}</ul>
    {% end %}

{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{fix_static('style/form.css')}}">
{% end %}
