{% extends "../base.html" %}

{% block body %}
<form>

    <label class="form-element">
        Eingabe (Nutze "_" für nicht bekannte Buchstaben):

        <input type="text" class="text-input" name="input" value="{{ input }}">
    </label>


    <label class="form-element">
        Falsche Buchstaben:

        <input type="text" class="text-input" name="invalid"  value="{{ invalid }}">
    </label>



    <div class="form-element">
        <div class="tooltip no-select">
            <label class="cbl float-left no-select" for="crossword-mode">
                Kreuzworträtselmodus:
            </label>
            <span class="tooltip-text no-select">Die Buchstaben im Eingabefeld können auch an anderen Stellen erneut auftauchen.</span>
        </div>
        <input type="checkbox" class="cb no-select" id="crossword-mode" name="crossword_mode" {% if crossword_mode %} checked {% end %}>
        <span class="checkmark no-select"></span>
    </div>

    <div class="form-element">
        <div class="tooltip no-select">
            <label class="cbl float-left no-select" for="max_words">
                Maximale Wortanzahl:
            </label>
            <span class="tooltip-text no-select">Wie viele Wörter maximal angezeigt werden dürfen.</span>
        </div>
        <input class="small-input no-select" type="number" id="max_words" name="max_words" min="0" max="100" step="1" value="{{max_words}}">
    </div>

    <label class="form-element">
        Sprache der Wörter:
        <select class="small-input" name="lang">
            <option value="de_only_a-z" {% if lang == "de_only_a-z" %} selected {% end %}>Deutsch ohne Umlaute</option>
            <option value="de" {% if lang == "de" %} selected {% end %}>Deutsch</option>
            <option value="de_basic_only_a-z" {% if lang == "de_basic_only_a-z" %} selected {% end %}>Deutsch (Grundformen) ohne Umlaute</option>
            <option value="de_basic" {% if lang == "de_basic" %} selected {% end %}>Deutsch (Grundformen)</option>
            <option value="en" {% if lang == "en" %} selected {% end %}>Englisch</option>
        </select>
    </label>

{% raw form_appendix %}

    <div class="tooltip no-select button-container form-element">
        <input type="submit" class="no-select button button-blue" id="submit" value="Eingabe"/>
        <span class="tooltip-text no-select">Aktualisiere die Eingabe.</span>
    </div>
</form>

<div class="output">
    {% if letters %}
        Mögliche Buchstaben:
        {% for letter in letters %}
            {{ letter }}: {{ letters[letter]}},
        {% end %}
    {% else %}
        Nichts gefunden.
    {% end %}
</div>

{% if word_count > 0 %}
{{min(word_count, max_words)}}/{{word_count}} passenden Wörter:

    <ul class="output">
        {% for word in words %}
            <li>{{ word }}</li>
        {% end %}
    </ul>
{% end %}

{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/style/form.css">
{% end %}
