{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
<table id="jslicense-labels1"  class="table">
    <thead>
        <tr>
            <th>Skript</th>
            <th>Lizenz</th>
        </tr>
    </thead>
    <tbody>
        {% for file_name, license, license_url in js_files %}
        <tr>
            <td>
                <a href="{{fix_static(f'js/{file_name}')}}"
                   no-dynload >{{ file_name }}</a>
            </td>
            <td>
                <a href="{{license_url}}" no-dynload>{{license}}</a>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>
{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{fix_static('style/table.css')}}">
{% end %}
