{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
<h2>
    Liste von Unterseiten:
</h2>
<ul>
{% for info in handler.settings.get("MODULE_INFOS") %}
    {% if not info.hidden and not info.path is None and not info.path == "/" %}
<li class="menu-list">
    <a href="{{ fix_url(info.path) }}">{{info.name}}</a>:
    {{info.description}}
</li>
        {% if info.sub_pages is not None and len(info.sub_pages) > 0 %}
<ul class="menu-sub-list">
            {% for page_info in info.sub_pages %}
                {% if not page_info.hidden and page_info.path is not None %}
    <li class="tooltip">
        <a href="{{ fix_url(page_info.path) }}">{{page_info.name}}</a>:
        {{page_info.description}}
    </li>
                {% end %}
            {% end %}
</ul>
        {% end %}
    {% end %}
{% end %}
</ul>
{% end %}
