{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
    <form id="search-form">
        <label>
            Suche:
            <input type="search" id="search-input" name="q" value="{{query}}">
        </label>
    </form>
    {% if results %}
        <h2>
            Gefundene Seiten:
        </h2>
        <ul id="search-results">
            {% for result in results %}
                <li score="{{result['score']}}" class="menu-list">
                    <a href="{{fix_url(result['url'])}}"
                    >{% raw result["title"]%}</a>:
                    {% raw result["description"] %}
                </li>
            {% end %}
        </ul>
    {% else %}
        <div>Nichts gefunden.</div>
    {% end %}
{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{fix_static('style/form.css')}}">
    <style>em {color: var(--contrast-2);}</style>
    <script defer src="{{fix_static('js/search.js')}}"></script>
{% end %}
