{% extends "../base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{fix_static('style/form.css')}}">
    <script defer src="{{fix_static('js/settings.js')}}"></script>
{% end %}

{% block body %}
    <form method="post">
        {% if no_3rd_party_default %}
            <label class="form-element">
                {{_('Erlaube Inhalte von Drittanbietern')}}
                <input type="checkbox"
                    name="no_3rd_party"
                    {% if not no_3rd_party %}
                       checked
                    {% end %}
                    value="nope">
            </label>
        {% else %}
            <label class="form-element">
                {{_('Deaktiviere Inhalte von Drittanbietern')}}
                <input type="checkbox"
                   name="no_3rd_party"
                    {% if no_3rd_party %}
                       checked
                    {% end %}
                   value="sure">
            </label>
        {% end %}

        <label class="form-element">
            {{_('Nutze coole Emojis von OpenMoji')}}
            <select name="openmoji">
                <option {% if not openmoji %}selected{% end %}
                        value="nope">{{_('Deaktiviert')}}</option>
{# <option {% if openmoji == "font" %}selected{% end %} value="font">{{_('Als Font (Firefox)')}}</option> #}
                <option {% if openmoji == "img" %}selected{% end %}
                        value="img">{{_('Als SVGs (funktioniert)')}}</option>
            </select>
        </label>

        <label class="form-element">
            {{_('Nutze mehr JS, um die Seite dynamischer zu machen (experimentell)')}}
            <input type="checkbox"
               name="dynload"
                {% if dynload %}
                   checked
                {% end %}
               value="sure">
        </label>

        <label class="form-element">
            {{_('Thema')}}
            <select name="theme">
                {% for spam in themes %}
                    <option {% if spam == theme_name %}selected{% end %}
                            value="{{spam}}">{{spam}}</option>
                {% end %}
            </select>
        </label>

        <label class="form-element">
            {{_('Aktiviere Einstellungen für Experten')}}
            <input type="checkbox"
               name="advanced_settings"
                {% if advanced_settings %}
                   checked
                {% end %}
               value="sure">
        </label>

        {% if advanced_settings %}
            <label class="form-element">
                {{_('Bumpscosity')}}
                <select name="bumpscosity" id="bumpscosity-select">
                    {% for bsv in bumpscosity_values %}
                        <option {% if bsv == bumpscosity %}selected{% end %}
                                    value="{{bsv}}">{{bsv}}</option>
                    {% end %}
                </select>
            </label>
        {% end %}

        {% if show_token_input %}
            <label class="form-element">
                {{_('Autorisierungsschlüssel')}}
                <input type="text" name="access_token" value="{{token}}">
            </label>
        {% end %}

        <label class="form-element">
           {% raw _('Speicher in Cookies %s (empfohlen)') % emoji2html("🍪") %}
            <input type="checkbox"
                name="save_in_cookie"
                {% if save_in_cookie %}
                   checked
                {% end %}
                value="sure">
        </label>
        <input type="submit" value="{{_('Speichern')}}">
    </form>
{% end %}
