{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}

<form method="post">
    {% if no_3rd_party_default %}
    <label class="form-element">
        Erlaube Inhalte von Drittanbietern
        <input type="checkbox"
           name="no_3rd_party"
           value="nope"
{% if not no_3rd_party %}
           checked
{% end %}
        >
    </label>
    {% else %}
    <label class="form-element">
        Deaktiviere Inhalte von Drittanbietern
        <input type="checkbox"
           name="no_3rd_party"
           value="sure"
{% if no_3rd_party %}
           checked
{% end %}
        >
    </label>
    {% end %}

    <label class="form-element">
        Nutze mehr JS, um die Seite dynamischer zu machen (experimentell)
        <input type="checkbox"
           name="dynload"
           value="sure"
{% if dynload %}
           checked
{% end %}
        >
    </label>


    <label class="form-element">
        Theme
        <select name="theme">
{% for _t in themes %}
            <option value="{{_t}}" {% if _t == theme_name %} selected {% end %}>
                {{_t}}
            </option>
{% end %}
        </select>
    </label>


    <label class="form-element">
       Speicher in Cookies 🍪 (empfohlen)
        <input type="checkbox"
            name="save_in_cookie"
            value="sure"
{% if save_in_cookie %}
           checked
{% end %}
        >
    </label>


    <input type="submit" value="Speichern">
</form>

{% include "../util/replace_url_with.html" %}

{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/style/form.css">
{% end %}
