{% extends "../base.html" %}

{% block title %}Känguru-Soundboard{% end %}

{% block description %}Ein Soundboard mit coolen Sprüchen und Sounds aus den Känguru-Chroniken{% end %}

{% block body %}
    {% if query is not None %}
<form>
    <input type="text" value="{{query}}" name="q">
    {% raw form_appendix %}
    <input type="submit" value="Suche!">
</form>

        {% if len(sound_info_list) == 0 %}
Nichts gefunden. :( <br>
Bitte überprüfe die Rechtschreibung oder nutze eine kürzere Suche.
        {% end %}
    {% end %}

    {% for sound_info in sound_info_list %}
{% raw sound_info.to_html(url_appendix) %}
    {% end %}
{% end %}


{% block style %}
    {% include "../styles/soundboard.css" %}
{% end %}
