{% whitespace oneline %}
{% extends "../base.html" %}

{% block description %}Diese Webseite läuft bereits {{uptime_str}}{% end %}

{% block body %}
    <div>
        Diese Webseite läuft bereits <div id="uptime">{{uptime_str}}</div>
    </div>
    {% if availability is not None %}
        <div>
            <br>Verfügbarkeit: {{f"{availability:.2f}".replace(".", ",")}} %<br>
            <img src="{{fix_url('/betriebszeit/verfuegbarkeit.svg', a=int(availability * 100) / (100.0 * 100))}}"
                 alt="Verfügbarkeits-Tortendiagramm"
                 width="100"
                 height="100">
        </div>
    {% end %}
{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{fix_static('style/uptime.css')}}">
    <script defer src="{{fix_static('js/uptime.js')}}"
            onload="startDisplayingUptime({{uptime}})"></script>
{% end %}
