{% extends "../base.html" %}

{% block description %}Diese Webseite läuft bereits {{uptime}}{% end %}

{% block body %}
    {% if not no_3rd_party %}
        <link href="https://fonts.googleapis.com/css?family=Orbitron"
              rel="stylesheet"
              type="text/css">
    {% end %}
    <div class="center">
        Diese Webseite läuft bereits <div class="clock-font">{{uptime}}</div>
    </div>
{% end %}


{% block head %}
<style>
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: xx-large;
    }
        {% if no_3rd_party %}
    .clock-font {
        font-weight: bold;
    }
        {% else %}
    .clock-font {
        font-family: 'Orbitron', sans-serif;
    }
        {% end %}
</style>
{% end %}