{% extends "../base.html" %}
{% whitespace single %}

{% block description %}{{ version }}{% end %}

{% block body %}
<pre style="{% if full %}max-width: 100%; overflow: scroll{% else %}font-size: 1rem{% end %}">
Version: {{ version }}
    {% if no_3rd_party %}
<a href="{{fix_url('https://github.asozial.org/an-website/coverage')}}"
   no-dynload>Code-Coverage</a>
    {% else %}
Code-Coverage: <a href="{{fix_url('https://github.asozial.org/an-website/coverage')}}"
                  class="no-style-a-in"><img src="https://github.asozial.org/an-website/coverage/badge.svg"
                                             no-dynload crossorigin></a>
    {% end %}
<a href="{{fix_url('https://github.asozial.org/an-website/hashes.txt')}}"
   no-dynload>Hashes der neuesten Version</a><br>

Hash der Datei-Hashes:
{{ hash_of_file_hashes }}<br>
{% if full %}
Datei-Hashes:
{{ file_hashes }}{% end %}</pre>
{% end %}
