{% extends "../base.html" %}

{% block description %}{{ version }}{% end %}

{% block body %}
<pre>Version: <a href="https://github.com/asozialesnetzwerk/an-website/commit/{{ version }}" rel="noreferrer">{{ version }}</a><br>
<a href="https://github.com/asozialesnetzwerk/an-website/blob/{{ gh_pages_commit_hash }}/version.txt" rel="noreferrer">Hashes der aktuellen Version</a><br>
<a href="https://asozialesnetzwerk.github.io/an-website/version.txt" rel="noreferrer">Hashes der neuesten Version</a><br><br>

Hash der Datei-Hashes: {{ hash_of_file_hashes }}<br><br>

Datei-Hashes:<br>{{ file_hashes }}</pre>
{% end %}
