{% extends "../base.html" %}

{% block title %}Version der Webseite{% end %}

{% block description %}{{ version }}{% end %}

{% block body %}
<pre>Version: <a href="https://github.com/asozialesnetzwerk/an-website/commit/{{ version }}">{{ version }}</a><br>
<a href="https://github.com/asozialesnetzwerk/an-website/blob/{{ gh_pages_commit_hash }}/version.txt">Hashes der aktuellen Version</a>
<a href="https://asozialesnetzwerk.github.io/an-website/version.txt">Hashes der neuesten Version</a><br>

Hash der Datei-Hashes:
{{ hash_of_file_hashes }}<br>

Datei-Hashes:
{{ file_hashes }}</pre>
{% end %}
