{% extends "../base.html" %}

{% block body %}
<form>

    <label class="form-element">
        Das aktuelle Wort
        <input type="text" class="text-input" name="word" value="{{word}}">
    </label>

    <div class="form-element">
        <div class="tooltip no-select">
            <label class="cbl float-left no-select" for="max_words">
                Maximale Wortanzahl:
            </label>
            <span class="tooltip-text no-select">Wie viele Wörter maximal angezeigt werden dürfen.</span>
        </div>
        <input class="small-input no-select" type="number" id="max_words" name="max_words" min="1" max="100" step="1" value="{{max_words}}">
    </div>

{% raw form_appendix %}

    <div class="tooltip no-select button-container form-element">
        <input type="submit" class="no-select button button-blue" id="submit" value="Eingabe"/>
        <span class="tooltip-text no-select">Aktualisiere die Eingabe.</span>
    </div>
</form>

<ul class="output">
    {% for _w in words %}
    <li>{{ _w }}</li>
    {% end %}
</ul>

{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/style/form.css">
{% end %}
