{% whitespace oneline %}
{% extends "../base.html" %}

{% block body %}
<form>

    <label class="form-element">
        Das aktuelle Wort
        <input type="text" class="text-input" name="word" value="{{word}}">
    </label>

    <label class="form-element">
        Wörter, die vor diesem Wort kamen (Mit Komma getrennt)
        <input type="text" class="text-input" name="before" value="{{before}}">
    </label>

{% raw form_appendix %}

    <div class="tooltip no-select button-container form-element">
        <input type="submit" class="no-select button button-blue" id="submit" value="Eingabe">
        <span class="tooltip-text no-select">Aktualisiere die Eingabe.</span>
    </div>
</form>

<ul class="output">
    {% for count, _w in words %}
    <li><a href="?word={{ _w }}&before={{new_before}}" rel="noreferrer">{{ _w }}</a> ({{count}})</li>
    {% end %}
</ul>

{% end %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{fix_static('style/form.css')}}">
{% end %}
