{% whitespace oneline %}
{% extends "base.html" %}

{% block body %}
    {% whitespace all %}

    {% if isinstance(ansi, list) %}
<div>
        {% for _ in ansi %}
<div class="pre">{% raw ansi2html.convert(_, full=False) %}</div>
        {% end %}
</div>
    {% else %}
<div class="pre">{% raw ansi2html.convert(ansi, full=False) %}</div>
    {% end %}

    {% whitespace oneline %}

    <br>

    <div style="display: block">
        Powered by: <a href="{{fix_url(powered_by)}}">{{powered_by_name}}</a>
    </div>
{% end %}

{% block head %}
    <link rel="stylesheet" href="{{fix_static('style/ansi2html.css')}}">
{% end %}
