<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <title>{{title}}</title>

    <meta charset="UTF-8">
    <meta name="theme-color" content="#8B0000">
    <meta property="og:locale" content="de_DE">
    <meta property="og:url" content="{{url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:site_name" content="Asoziale Webseite">
    <meta property="og:description"
          content="{% block description %}{{ description }}{% end %}">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if not no_3rd_party and not settings is None %}
        <script src="https://unpkg.com/@elastic/apm-rum@^5/dist/bundles/elastic-apm-rum.umd.min.js" crossorigin></script>
        <script>
            elasticApm.init({
                active: {% raw "true" if settings.get("ELASTIC_APM")["ENABLED"] else "false" %},
                serverUrl: '{% raw settings.get("ELASTIC_APM")["SERVER_URL"] %}',
                serviceName: '{% raw settings.get("ELASTIC_APM")["SERVICE_NAME"] %}',
                serviceVersion: '{% raw settings.get("ELASTIC_APM")["SERVICE_VERSION"] %}',
                environment: '{% raw settings.get("ELASTIC_APM")["ENVIRONMENT"] %}',
            })
        </script>
    {% end %}
    <link rel="canonical" href="{{url.split('?')[0]}}">
    <link rel="stylesheet" type="text/css"
          href="/static/style/themes/{{theme}}.css">
    <link rel="stylesheet" type="text/css" href="/static/style/base.css">
    <link rel="stylesheet" type="text/css" href="/static/style/header.css">
    <link rel="stylesheet" type="text/css" href="/static/style/footer.css">

    {% block head %} {% end %}
</head>
<body>
{% block header %}
    {% include "header.html" %}
{% end %}

<div id="body">
{% block body %}
    {{ content }}
{% end %}
</div>

{% block footer %}
    {% include "footer.html" %}
{% end %}
</body>
</html>
