<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#8B0000">
    <meta property="og:locale" content="de_DE">
    <meta property="og:url" content="{{url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:site_name" content="Asoziale Webseite">
    <meta property="og:description" content="{% block description %}{{ description }}{% end %}">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="never" />
    <meta name="referrer" content="no-referrer" />
    {% if c %}<style>@import url("/static/style/comic.css");</style>{% end %}
    {% if settings and "ELASTIC_APM" in settings and settings["ELASTIC_APM"]["ENABLED"] %}
        <script class="on-every-page">
            ;(function(d, s, c) {
              var j = d.createElement(s),
                t = d.getElementsByTagName(s)[0]
              j.src = "{{fix_url(elastic_rum_js_url)}}"
              j.onload = function() {elasticApm.init(c)}
              t.parentNode.insertBefore(j, t)
            })(document, 'script', {
                serverUrl: '{% raw settings["ELASTIC_APM"]["SERVER_URL"] %}',
                serviceName: '{% raw settings["ELASTIC_APM"]["SERVICE_NAME"] %}',
                serviceVersion: '{% raw settings["ELASTIC_APM"]["SERVICE_VERSION"] %}',
                environment: '{% raw settings["ELASTIC_APM"]["ENVIRONMENT"] %}',
            })
        </script>
    {% end %}
    <link rel="canonical" href="{{url.split('?')[0]}}">
    <link class="on-every-page" rel="stylesheet" type="text/css" href="/static/style/themes/{{theme}}.css">
    <link class="on-every-page" rel="stylesheet" type="text/css" href="/static/style/base.css">
    <style>
    #title:after{content:"{{short_title}}"}
    {% if title != short_title %}
        @media(min-width:500px){ #title:after{content:"{{title}}"}}
    {% end %}
    </style>

    <script class="on-every-page" defer src="/static/js/request_utils.js"></script>
    {% if dynload %}
    <script class="on-every-page"
            defer src="/static/js/dynamically_load.js"
            onload="dynLoadReplaceAnchors()"
    ></script>
    {% end %}

    {% block head %} {% end %}
</head>
<body>
    <a href="#body" id="skip-to-content">Skip to content.</a>
    {% include "header.html" %}
    <div id="body" data-elastic-include>{% block body %}{{ content }}{% end %}</div>
    {% include "footer.html" %}
</body>
</html>
