<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        {% if as_html %}
            <title>{{title}}</title>
            <meta charset="UTF-8">
            <meta name="theme-color" content="#8B0000">
            <meta property="og:locale" content="de_DE">
            <meta property="og:url" content="{{canonical_url}}">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{title}}">
            <meta property="og:site_name" content="Asoziale Webseite">
            <meta property="og:description" content="{% block description %}{{ description }}{% end %}">
            <meta name="description" content="{{ description }}">
            <meta name="keywords" content="{{keywords}}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% if settings and "ELASTIC_APM" in settings and settings["ELASTIC_APM"]["ENABLED"] %}
                <script>
                    ;(function(d, s, c) {
                      var j = d.createElement(s),
                        t = d.getElementsByTagName(s)[0]
                      j.src = "{{fix_url(elastic_rum_url)}}"
                      j.onload = function() {elasticApm.init(c)}
                      t.parentNode.insertBefore(j, t)
                    })(document, 'script', {
                        serverUrl: '{% raw settings["ELASTIC_APM"]["SERVER_URL"] %}',
                        serviceName: '{% raw settings["ELASTIC_APM"]["SERVICE_NAME"] %}',
                        serviceVersion: '{% raw settings["ELASTIC_APM"]["SERVICE_VERSION"] %}',
                        environment: '{% raw settings["ELASTIC_APM"]["ENVIRONMENT"] %}',
                    })
                </script>
            {% end %}
            {% if c %}<link rel="stylesheet" type="text/css" href="{{fix_static('style/comic.css')}}">{% end %}
            <link rel="canonical" href="{{canonical_url}}">
            <link rel="stylesheet" type="text/css" href="{{fix_static(f'style/themes/{theme}.css')}}">
            <link rel="stylesheet" type="text/css" href="{{fix_static('style/base.css')}}">
            <link rel="stylesheet" type="text/css" href="{{fix_static('style/tooltip.css')}}">
            <script defer src="{{fix_static('js/utils.js')}}"></script>
            <script defer src="{{fix_static('js/better_ui.js')}}"></script>
            {% if dynload %}
                <script defer
                    src="{{fix_static('js/dynamically_load.js')}}"
                    onload="dynLoadReplaceAnchors()"
                ></script>
            {% end %}
        {% end %}
        {% block head %} {% end %}
    </head>
    <body>
        {% if as_html %}
            <a href="#body"
               no-dynload
               id="skip-to-content"
               data-elastic-exclude>Skip to content.</a>
            {% include "header.html" %}
        {% end %}

        <main data-elastic-include
              id="body">{% block body %}{{content}}{% end %}</main>

        {% if as_html %}
            {% include "footer.html" %}
        {% end %}
    </body>
</html>
