{% whitespace oneline %}
{% extends "base.html" %}

{% block title %}{{status}} - {{reason}}{% end %}

{% block description %}{{description}}{% end %}

{% block body %}
    {% if is_traceback %}
        <pre>{{reason}}</pre>
    {% else %}
        <div id="container">
            <div id="status">{{status}}</div>
            <div id="reason">{{reason}}</div>
            {% if status == 469 %}
                <img id="🐈" alt="🐈" src="{{fix_static('img/469.jpg')}}">
            {% elif not no_3rd_party %}
                <img id="🐈" alt="🐈" src="https://http.cat/{{status}}">
            {% end %}
        </div>
    {% end %}
{% end %}

{% block head %}
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css"
          href="{{fix_static('style/error.css')}}">
{% end %}
