{% whitespace oneline %}
<footer id="github-footer" data-elastic-exclude>
    <div>Mit Liebe gebacken
        {% if now.day == 1 and now.month == 1 %}
            🎇
        {% elif now.day == 29 and now.month == 2 %}
            🦘
        {% elif now.day == 8 and now.month == 3 %}
            ♀️
        {% elif now.day == 14 and now.month == 3 %}
            🥧
        {% elif False and now.day == 20 and now.month == 4 %}
            🥦
        {% elif globals()["🥚"] %}
            <a href="{{fix_url('https://bibliogram.pussthecat.org/p/BsOGulcndj-')}}"
               style="text-decoration: none">🥚</a>
        {% elif now.day == 4 and now.month == 5 %}
            ✨
        {% elif now.day == 24 and now.month == 6 %}
            🛸
        {% elif now.day == 4 and now.month == 7 %}
            🗽
        {% elif now.day == 19 and now.month == 9 %}
            ☠️
        {% elif now.day == 31 and now.month == 10 %}
            🎃
        {% elif now.day == 11 and now.month == 11 %}
            🪅
        {% elif now.day in {24, 25} and now.month == 12 %}
            🎄
        {% else %}
            🖤
        {% end %}
        <a href="{{REPO_URL}}">
            Asoziales Netzwerk: Sektion GitHub
        </a></div>
</footer>
