{% whitespace oneline %}
<footer id="footer" data-elastic-exclude>Mit Liebe gebacken
    {% if globals()["🦘"] %}
        🦘
    {% elif globals()["🥚"] %}
        <a href="{{fix_url('https://bibliogram.pussthecat.org/p/BsOGulcndj-')}}"
           class="no-style-a-emoji"
        >🥚</a>
    {% elif now.month == now.day %}
        {{("🥇", "🥈", "🔱", "🍀", "🖐️", "🔯", "🎰", "✴️", "9⃣", "🔟", "🧝", "🕛️")[now.month - 1]}}
    {% elif now.month == 2 and now.day == 29 %}
        🫀
    {% elif now.month == 3 and now.day == 8 %}
        ♀️
    {% elif now.month == 3 and now.day == 14 %}
        🥧
    {% elif now.month == 3 and now.day == 17 %}
        ☘️
    {% elif now.month == 3 and now.day == 25 %}
        🧇
    {% elif now.month == 4 and now.day == 20 %}
        <a href="{{fix_url('https://y.com.sb/watch?v=C_mndbMCzU8')}}"
           class="no-style-a-emoji"
        >🥦</a>
    {% elif now.month == 4 and now.day == 21 and now.year == 2026 %}
        👑🎂💯
    {% elif now.month == 4 and now.day == 22 %}
        <a href="{{fix_url('https://earthday.org')}}"
           class="no-style-a-emoji"
        >🌍</a>
    {% elif now.month == 4 and now.day == 23 %}
        <a href="{{fix_url('https://welttag-des-buches.de')}}"
           class="no-style-a-emoji"
        >📖</a>
    {% elif now.month == 4 and now.day == 27 %}
        <a href="{{fix_url(f'https://stanleyparable{2 if now.utctimetuple().tm_hour >= 16 else str()}.com')}}"
           class="no-style-a-emoji"
        >🪣</a>
    {% elif now.month == 5 and now.day == 4 %}
        ✨
    {% elif now.month == 5 and now.day == 20 %}
        🐝
    {% elif now.month == 6 and now.day == 24 %}
        🛸
    {% elif now.month == 6 and now.day == 28 %}
        <a href="{{fix_url('https://tauday.com/tau-manifesto')}}"
           class="no-style-a-emoji"
        >τ</a>
    {% elif now.month == 6 %}
        {{("❤️", "🧡", "💛", "💚", "💙", "💜")[now.microsecond % 6]}}
    {% elif now.month == 7 and now.day == 4 %}
        🗽
    {% elif now.month == 7 and now.day == 17 %}
        {% from emoji import EMOJI_DATA %}
        {% set emoji = tuple(EMOJI_DATA)[now.microsecond % len(EMOJI_DATA)] %}
        <a href="{{fix_url(f'http://📙.la/{emoji}')}}"
           tooltip="{{EMOJI_DATA[emoji].get(lang, EMOJI_DATA[emoji]['en'])}}"
           class="no-style-a-emoji"
        >{{emoji}}</a>
    {% elif now.month == 9 and now.day == 11 %}
        ✈️
    {% elif now.month == 9 and now.day == 15 %}
        <a href="{{fix_url('https://sabrina-online.com')}}"
           class="no-style-a-emoji"
        >🦨</a>
    {% elif now.month == 9 and now.day == 19 %}
        ☠️
    {% elif now.month == 10 and now.day == 31 %}
        🎃
    {% elif now.month == 12 and now.day in {24, 25} %}
        🎄
    {% elif now.day == 13 and now.weekday() == 4 %}
        🐈‍⬛
    {% else %}
        🖤
    {% end %}
    <a href="{{fix_url(GH_REPO_URL)}}">Asoziales Netzwerk: Sektion GitHub</a>
</footer>
