:root {
    /* other useful stuff: */
    --header-height: 69px;
}

* {
    color: var(--text-color);
    background: var(--bg);
}

body {
    padding: var(--header-height) 0 0;
}

#body {
    padding: 10px;
}

a {
    color: var(--dark-main)
}

.hidden-input {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 140px;
    background-color: var(--tooltip-bg);
    color: var(--text-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -70px;/* Use half of the width (140/2 = 70), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-text-color) transparent transparent transparent;
}

#github-footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--text-color);
    background-color: transparent;
}