#container {
    text-align: center;
}

#status {
    font-size: 100px;
    color: var(--main);
}

#reason {
    white-space: pre;
    font-family: monospace;
    color: var(--main-2);
}

#🐈 {
    width: 50%;
    border-style: solid;
    clip-path: inset(7.1666% 9.0666% 24% 9.0666%);
}
