#github-footer {
    position: fixed;
    max-height: var(--footer-height);
    width: 90%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--text-color);
    background-color: transparent;
}

#github-footer a {
    color: var(--main);
    background-color: transparent;
}