.header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    background-color: var(--main);
    color: #fff;
    height: var(--header-height);
}

.header * {
    background-color:  var(--main);
}

.header h1 {
    margin: 10px;
}

.open-pane {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: fixed;
}

.open-pane:hover {
    transform: rotateY(30deg);
}

.site-pane {
    right: -70%;
    top: 0;
    z-index: 11;
    position: fixed;
    background-color: var(--secondary-bg);
    color: #fff;
    max-width: 70%;
    height: 100%;

    transition: right 0.5s;
}

.open-pane:hover + .site-pane {
    right: 0;
}

.site-pane:hover {
    right: 0;
}

.site-pane * {
    background-color: var(--secondary-bg);
}

.site-pane h1 {
    margin: 10px;
}

.menu-list {
    margin: 5px;
    list-style-type: circle;
}

.menu-list li {
    display: inherit;
    margin-bottom: 5px;
    color: var(--text-color)
}

.menu-sub-list {
    margin: 5px;
    list-style-type: square;
}

.menu-sub-list li {
    display: inherit;
    margin-top: 3px;
    color: var(--text-color)
}

.contact-anchor {
    display: block;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: var(--contrast);
    color: var(--text-color)
}

.contact-anchor:hover {
    transform: scale(1.05, 1.05);
}

