table{margin-left:auto;margin-right:auto}th{width:45%}.rating{display:inline;color:var(--secondary-text-color)}.positive{color:green}.negative{color:red}.wrong-quote-a{color:var(--text-color)!important}#disclaimer{margin-top:2rem;display:flex;flex-direction:row}#report{display:block;height:3rem;width:3rem}#report img{width:100%}#report img:hover{transform:scale(1.08);filter:drop-shadow(2px 2px 1px rgba(217,229,78,0.5))}#author-info{background-color:var(--secondary-bg);padding:0.3125rem;border-right:0.3125rem}
