input[type=radio]:checked + label[for]{color:var(--contrast-2)}input[type=radio]{margin-right:0.2rem;display:inline-block}.label-input-group{display:block;max-width:calc(100% - 0.4rem);padding:0.25rem;border-radius:0.1rem}fieldset{padding:0.3rem;border-color:var(--main);border-radius:0.5rem}fieldset .label-input-group:nth-of-type(odd){background-color:var(--bg)}fieldset .label-input-group:nth-of-type(even){background-color:var(--secondary-bg)}
