.button,p{max-width:50rem;font-size:1.1rem}.button{color:var(--text-color);margin:0.5rem 0;padding:0.875rem 1.25rem;border:none;border-radius:0.25rem;cursor:pointer;text-align:center;width:calc(100% - 2.5rem);max-width:47.5rem}.button:hover{transform:scale(1.01);filter:contrast(120%) brightness(120%)}.leave{background-color:var(--main)!important}.stay{background-color:var(--contrast)!important}
