.table{border-collapse:collapse;margin:1.5625rem 0;min-width:40%}.table thead tr{background-color:var(--contrast);color:var(--text-color);text-align:left}.table th,.table td{padding:0.75rem 0.94rem}.table tbody tr{border-bottom:thin solid var(--contrast-2)}.table tbody tr:nth-child(2n){background-color:var(--secondary-bg)}.table tbody tr:last-child{border-bottom:medium solid var(--contrast-2)}
