.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: xx-large;
}

/* latin */
@font-face { /* used in js */
    font-family: "clock-face";
    font-style: normal;
    /* https://www.fontspace.com/cursed-timer-ulil-font-f29411 */
    src: url("/static/style/fonts/CursedTimerUlil-Aznm.woff") format("woff");
}

#uptime {
    font-style: normal;
    font-family: monospace;
}
