#body{font-size:2rem;text-align:center}@font-face{font-family:"clock-face";font-style:normal;src:url("/static/fonts/CursedTimerUlil-Aznm.woff2?v=0") format("woff2")}#uptime{font-style:normal;font-family:monospace}
