{% extends "base.html" %}

{% block title %}{{error_code}}{% end %}

{% block description %}Ein Fehler ist aufgetreten.{% end %}

{% block body %}
<div id="container">
    <div id="code">{{code}}</div>
    <div id="message">{{message}}</div>
</div>

{% end %}

{% block style %}
#container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#code {
    font-size: 100px;
    color: var(--red);
}
#message {
    white-space: pre;
    font-family: monospace;
    color: var(--light-red);
}
{% end %}
