/* TODO: set -light and -dark variants of the variables to make this theme adaptive */

:root {
    color-scheme: only dark !important;

    /* colors: */
    --main: hsl(100deg 100% 40%) !important;
    --main-2: hsl(100deg 100% 30%) !important;
    --text-color: hsl(100deg 0% 90%) !important;
    --secondary-text-color: hsl(250deg 0% 60%) !important;
    --bg: hsl(0deg 0% 0%) !important;
    --secondary-bg: hsl(0deg 0% 9%) !important;
    --tertiary-bg: hsl(0deg 0% 18%) !important;
    --contrast: hsl(0deg 90% 48%) !important;
    --contrast-2: hsl(0deg 90% 62%) !important;
}
