:root {
    /* colors: */
    --main: hsl(240, 100%, 50%);
    --main-2: hsl(195, 100%, 50%);

    --text-color: hsl(0, 0%, 90%);
    --secondary-text-color: hsl(0, 0%, 60%);

    --bg: hsl(0, 0%, 0%);
    --secondary-bg: hsl(0, 0%, 10%);
    --tooltip-bg: hsl(0, 0%, 20%);

    --contrast: hsl(0, 100%, 30%);
    --contrast-2: hsl(0, 100%, 50%);
}