:root {
    /* colors: */
    --main: hsl(0, 100%, 50%);
    --dark-main: hsl(0, 100%, 30%);

    --text-color: hsl(0, 0%, 90%);
    --secondary-text-color: hsl(0, 0%, 60%);

    --bg: hsl(0, 0%, 0%);
    --secondary-bg: hsl(0, 0%, 10%);
    --tooltip-bg: hsl(0, 0%, 20%);

    --light-contrast: hsl(195, 100%, 50%);
    --contrast: hsl(240, 100%, 50%);
}


/* DON'T DO THIS! ONLY ADD VARS IN THEMES! */
* {
    mix-blend-mode: difference;
}