@import url("/static/style/comic.css?v=0");:root{--main:hsl(48,100%,50%);--main-2:hsl(30,100%,50%);--text-color:hsl(106,100%,50%);--secondary-text-color:hsl(159,100%,50%);--bg:hsl(303,100%,50%);--secondary-bg:hsl(289,100%,50%);--tertiary-bg:hsl(264,100%,50%);--contrast:hsl(207,100%,50%);--contrast-2:hsl(195,100%,50%)}
