:root {
    /* colors: */
    --main: hsl(100, 100%, 37%);
    --main-2: hsl(100, 100%, 30%);

    --text-color: hsl(100, 0%, 90%);
    --secondary-text-color: hsl(250, 0%, 60%);

    --bg: hsl(100, 0%, 0%);
    --secondary-bg: hsl(100, 0%, 10%);
    --tooltip-bg: hsl(100, 0%, 20%);

    --contrast: hsl(0, 100%, 40%);
    --contrast-2: hsl(0, 100%, 60%);
}
