:root{color-scheme:dark;--main:hsl(100,100%,40%);--main-2:hsl(100,100%,30%);--text-color:hsl(100,0%,90%);--secondary-text-color:hsl(250,0%,60%);--bg:hsl(0,0%,0%);--secondary-bg:hsl(0,0%,9%);--tertiary-bg:hsl(0,0%,18%);--contrast:hsl(0,90%,48%);--contrast-2:hsl(0,90%,62%)}
