:root {
    /* colors: */
    --main: hsl(0, 100%, 40%);
    --main-2: hsl(5, 100%, 30%);

    --text-color: hsl(0, 0%, 0%);
    --secondary-text-color: hsl(0, 0%, 15%);

    --bg: hsl(180, 40%, 90%);
    --secondary-bg: hsl(180, 10%, 75%);
    --tooltip-bg: hsl(180, 10%, 60%);

    --contrast: hsl(195, 100%, 50%);
    --contrast-2: hsl(240, 100%, 70%);
}
