:root{color-scheme:light;--main:hsl(240,100%,50%);--main-2:hsl(195,100%,26%);--text-color:hsl(0,0%,0%);--secondary-text-color:hsl(0,0%,15%);--bg:hsl(180,30%,90%);--secondary-bg:hsl(180,10%,75%);--tertiary-bg:hsl(180,10%,60%);--contrast:hsl(0,100%,33%);--contrast-2:hsl(5,90%,22%)}
