:root{color-scheme:dark;--main:hsl(30,100%,60%);--main-2:hsl(33,100%,40%);--text-color:hsl(0,0%,90%);--secondary-text-color:hsl(0,0%,70%);--bg:hsl(0,0%,0%);--secondary-bg:hsl(0,0%,9%);--tertiary-bg:hsl(0,0%,18%);--contrast:hsl(0,90%,48%);--contrast-2:hsl(0,90%,62%)}
