:root{color-scheme:dark;--main:hsl(279,90%,69%);--main-2:hsl(279,100%,57%);--text-color:hsl(0,0%,90%);--secondary-text-color:hsl(0,0%,70%);--bg:hsl(0,0%,0%);--secondary-bg:hsl(0,0%,9%);--tertiary-bg:hsl(0,0%,18%);--contrast:hsl(0,90%,48%);--contrast-2:hsl(0,90%,62%)}
