name: Deploy
on:
  push:
    branches: [ main ]
concurrency:
  group: deploy
  cancel-in-progress: true
env:
  PIP_DISABLE_PIP_VERSION_CHECK: yes

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install build frontend
        run: pip install "build<2"
      - name: Build
        run: python -m build
      - name: Upload as build artifact
        uses: actions/upload-artifact@v3
        with:
          path: dist

  build-oci-image:
    name: Build OCI image
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      packages: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: artifact
      - name: Extract source distribution
        run: |
          tar xvf *.tar.gz
          rm -f *.tar.gz
      - name: Install buildah
        run: |
          sudo apt-get update
          sudo apt-get install -y buildah
      - name: Pull last image
        run: buildah pull ghcr.io/asozialesnetzwerk/an-website:git
      - name: Build image
        run: |
          cd an-website*
          buildah build -t an-website:git .
          cd ..
      - name: Save image
        run: buildah push an-website:git oci-archive:oci-archive.tar
      - name: Upload as build artifact
        uses: actions/upload-artifact@v3
        with:
          path: oci-archive.tar

  push-oci-image:
    name: Push OCI image
    runs-on: ubuntu-latest
    needs:
      - build-container
      - tests
    permissions:
      packages: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: artifact
      - name: Install buildah
        run: |
          sudo apt-get update
          sudo apt-get install -y buildah
      - name: Load image
        run: |
          buildah pull oci-archive:oci-archive.tar
      - name: Push image
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | buildah login ghcr.io -u $ --password-stdin
          buildah push an-website:git ghcr.io/asozialesnetzwerk/an-website:git

  test-wheel:
    name: Test wheel
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - 3.11
          #- 3.12
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: artifact
      - name: Install libcurl4-openssl-dev for compiling PycURL
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev
      - name: Install wheel
        run: pip install *.whl
      - name: Test starting
        timeout-minutes: 1
        run: python -m an_website -c

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - 3.11
          #- 3.12
        stack-version:
          - 7.17.9
          #- 8.6.2
        license:
          - basic
          - trial
    services:
      redis:
        image: redis/redis-stack-server:6.2.6-v6
        ports:
          - 6379:6379
    steps:
      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - name: Start Elasticsearch
        if: ${{ startsWith(matrix.stack-version, '7') }}
        uses: elastic/elastic-github-actions/elasticsearch@2c3ec0418fabc996180995c47b86a65b581f1561
        with:
          stack-version: ${{ matrix.stack-version }}
          security-enabled: false
          nodes: 3
          license: ${{ matrix.license }}
          plugins: |
            analysis-icu
            analysis-phonetic
            ingest-attachment
            mapper-size
            mapper-murmur3
            mapper-annotated-text
      - name: Start Elasticsearch
        if: ${{ startsWith(matrix.stack-version, '8') }}
        uses: elastic/elastic-github-actions/elasticsearch@2c3ec0418fabc996180995c47b86a65b581f1561
        with:
          stack-version: ${{ matrix.stack-version }}
          security-enabled: false
          nodes: 3
          license: ${{ matrix.license }}
          plugins: |
            analysis-icu
            analysis-phonetic
            mapper-size
            mapper-murmur3
            mapper-annotated-text
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: Pipfile.lock
      - name: Install libcurl4-openssl-dev for compiling PycURL
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Install stuff needed for the tests
        run: grep -E "^(coverage|html5lib|pytest)" requirements-ci.txt | xargs pip install
      - name: Run pytest
        timeout-minutes: 5
        run: pytest --durations=0 --verbose --cov=an_website tests
      - name: Upload coverage as artifact
        uses: actions/upload-artifact@v3
        with:
          path: .coverage
          name: coverage

  sourcemaps:
    name: Upload sourcemaps
    runs-on: ubuntu-latest
    needs:
      - test-wheel
      - tests
    permissions: {}
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: artifact
      - name: Install required library
        run: pip install packaging
      - name: Version
        id: version
        shell: python
        run: |
          from os import popen as run
          from packaging.utils import parse_sdist_filename
          filename = run("ls an-website-*.tar.gz").read().strip()
          name, version = parse_sdist_filename(filename)
          print(f"::set-output name=VERSION::{version}")
      - name: Unpack source distribution
        run: tar xvf an-website-*.tar.gz
      - name: Upload sourcemaps
        run: |
          cd an-website-*/an_website
          find static/js -type f -name "*.js" -exec \
            curl -sSf https://kibana.asozial.org:5601/api/apm/sourcemaps \
              -H "Authorization: ApiKey ${{ secrets.SOURCEMAP_API_KEY }}" \
              -H "kbn-xsrf: true" \
              -F service_name="an-website" \
              -F service_version="${{ steps.version.outputs.VERSION }}" \
              -F bundle_filepath="/{}" \
              -F sourcemap=@{}.map \;

  deploy:
    name: Deploy website
    runs-on: ubuntu-latest
    needs:
      - test-wheel
      - tests
    permissions: {}
    environment:
      name: production
      url: https://asozial.org
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: artifact
      - name: Deploy website
        run: |
          curl -sSf -T *.whl https://asozial.org/api/update/ \
            -H "Authorization: ${{ secrets.UPDATE_API_SECRET }}"

  github-pages:
    name: GitHub Pages
    runs-on: ubuntu-latest
    needs:
      - deploy
    permissions:
      contents: read
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: Pipfile.lock
      - name: Download coverage
        uses: actions/download-artifact@v3
        with:
          name: coverage
      - name: Make directory
        run: mkdir github-pages
      - name: Hash files
        run: ./scripts/hash_files.py > github-pages/hashes.txt
      - name: Install Coverage.py
        run: grep "^coverage" requirements-ci.txt | xargs pip install
      - name: Create coverage files
        run: |
          coverage report --precision=3 --sort=-miss --skip-covered
          coverage html -d github-pages/coverage
          coverage json -o github-pages/coverage.json
          ./generate-badge.sh > github-pages/coverage/badge.svg
          rm github-pages/coverage/.gitignore
      - name: Generate committers.txt
        run: git log "--pretty=%H %cd %s" --date=unix HEAD > github-pages/committers.txt
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: github-pages
      - name: Deploy GitHub Pages site
        id: deployment
        uses: actions/deploy-pages@v1
